[2019-10-13 09:40] guyko81 opened #2 "Jaxlib can't be installed under Windows"
Collecting jaxlib
  Could not find a version that satisfies the requirement jaxlib (from versions: )
No matching distribution found for jaxlib

[https://github.com/google/jax/issues/507](https://github.com/google/jax/issues/507)

the issue raised under jax github page causes installation issues under Windows for this package

Would you consider releasing the PyTorch version too, I could make that

[2019-10-13 14:53] abriosi commented on #2
I have the same problem under linux

![image](https://user-images.githubusercontent.com/23288462/66717502-9d07e980-edd1-11e9-91ab-ca53911f55ba.png)

[2019-10-13 16:56] abriosi commented on #2
build jax using source https://jax.readthedocs.io/en/latest/developer.html#building-from-source

[2019-10-13 22:14] tonyduan commented on #2
Linux users: we recommend building Jax from source as recommended by @abriosi.

Windows users: see [1], unfortunately this is out of scope for now.

[1] https://github.com/google/jax/issues/438

[2019-10-14 00:20] abriosi commented on #2
@tonyduan How can we solve this for linux users? Does it have to be `jax` maintainers to corrected the linux python `.whl`?

[2019-10-14 05:55] aprilffff opened #3 "empirical used retrain not refit as paper"
It seesm the empirical results used retrain model (changing tree structures) but not refit (keep pretrained tree structures)  in "ngboost/examples/empirical/regression.py". However, the paper said exactly "refit" which is more reasonable

[2019-10-14 17:42] avati commented on #3
Sorry, wasn't aware of the distinction between 'refit' and 'retrain' in trees. I guess the paper actually means 'retrain' in this terminology (will update it for the next version).

[2019-10-14 17:42] #3 closed

[2019-10-14 20:57] jmmanley opened #4 "readme: link not working"
Hey, great work. FYI, the first link to the ngboost page in your readme is broken. I guess it should be `https://stanfordmlgroup.github.io/projects/ngboost/`, instead of `https://stanfordmlgroup.github.io/project/ngboost/`.

Thanks !

[2019-10-14 23:20] tonyduan commented on #4
Fixed, thanks for pointing that out!

[2019-10-14 23:20] #4 closed

[2019-10-15 00:10] abriosi commented on #2
@tonyduan for linux users, if jaxlib install fails, they should run `pip install --upgrade pip`. Then `pip install ngboost` will work just fine

[2019-10-16 18:22] zhiruiwang opened #5 "Any plan for model explanation functionality?"
Read the paper and tried this package, had to say it is marvelous! I will not hesitate to use it in my real-life work, but wonder if there is plan to add support for model explanation tool such as feature importance plot, SHAP plot or tree visualizer. It would be crucial to present the model explanation to business stakeholders.
Thanks for this fantastic masterpiece!

[2019-10-16 19:34] avati commented on #5
Hi @zhiruiwang, ngboost is still in very early stage of development. We are working on several features and speedup changes. It is very likely that something like feature importance might be added down the line. We also welcome contributions :-)

[2019-10-17 11:36] guyko81 opened #6 "gradient of normal distribution negative log-likelihood"
I might be wrong but the gradient seems incorrect wrt sigma

I think this should be used, my tests give bad results on boston (nll) with the current implementation, with the following change it's good again

[code]

[2019-10-17 14:19] avati commented on #6
Hi @guyko81,

Thank you for taking a close look. I checked the math once more, and I think the code looks correct for me. Note that our parametrization is not (mu, sigma), but rather (mu, log-sigma). Your answer looks correct for (mu, sigma) parametrization.

In order to explain the NLL performance on Boston housing dataset - have you set a fixed random seed so that multiple runs are comparable? O

[2019-10-17 16:11] guyko81 commented on #6
Hi @avati,

I see your point, didn't realise this. However the tests show that for some reason the scale parameter seems to be working better (I copy my code maybe you spot some mistake).

I have 2 runs with 20 iterations with each settings. Validation set is 20% (I used the example code from the readme.md). DecisionTreeRegressor(max_depth=3), n_estimators=100, learning_rate=0.1

[code]
RMSE:  mea

[2019-10-17 17:08] avati commented on #6
@guyko81

I see that with the current code, there is quite a lot of variance in the NLL estimates (std of ~ 1.08 and 1.19) whereas the estimates are lot sharper for the second case. Perhaps it just means that with this parametrization the model needs a different set of hyperparameters? (learning rate and/or n_estimators)

[2019-10-17 18:22] avati commented on #2
Closing this issue now that the code runs without jax.

[2019-10-17 18:22] #2 closed

[2019-10-17 21:11] guyko81 commented on #6
Hi @avati
Actually I see the mistake! It's so annoying - the negative sign:
instead of `(self.loc - Y)` we need `(Y - self.loc)`
[code]

[2019-10-17 21:20] avati commented on #6
I checked again. I believe the current code is proper. I also tried switching the sign and it resulted in a LOT worse performance on the benchmark tasks.

[2019-10-17 21:47] avati commented on #6
Can you come up with a standalone and reproducible script that shows your version of the log-sigma gradient gives better NLL on validation set?

[2019-10-17 22:13] guyko81 commented on #6
Yes, I create one. I have tested on another domain and just feels better. I see the math that it shouldn't be better but still..
Should I email you or copy here is enough?

[2019-10-17 22:52] avati commented on #6
You can email me at avati at cs dot stanford dot edu

[2019-10-18 17:16] avati commented on #6
Based on the discussion on email (summary): it appears that @guyko81  version of the gradient results in smaller gradient values for the log-sigma parameter, but it seems like the real benefit of it was an effectively smaller learning rate due to the downscaling. Just using a smaller overall learning rate gave even better performance since the mean and log-sigma updates are better balanced.

Closi

[2019-10-18 17:16] #6 closed

[2019-10-21 10:33] YMMS opened #7 "Add support for GridSearchCV"
Thanks for your work sharing. Maybe it is necessary to add support for GridSearchCV of scikit-learn to improve the usability and influence.

[2019-10-22 04:47] ranranV opened #8 "Sorry，it couldn't install ngboost under Windows"
pip install ngboost
Collecting ngboost
  Using cached https://files.pythonhosted.org/packages/58/15/8942e2b8a38f92b92e1dedad882b0746372e4acde236e74b98bfa66d717a/ngboost-0.1.3-py3-none-any.whl
Collecting scikit-learn>=0.21.3
  Using cached https://files.pythonhosted.org/packages/76/79/60050330fe57fb59f2c53d0d11673df28c20ea9315da3652477429fc4949/scikit_learn-0.21.3-cp36-cp36m-win_amd64.whl
Collectin

[2019-10-22 04:50] ranranV commented on #8
pip install ngboost
Collecting ngboost
  Using cached https://files.pythonhosted.org/packages/58/15/8942e2b8a38f92b92e1dedad882b0746372e4acde236e74b98bfa66d717a/ngboost-0.1.3-py3-none-any.whl
Collecting scikit-learn>=0.21.3
  Using cached https://files.pythonhosted.org/packages/76/79/60050330fe57fb59f2c53d0d11673df28c20ea9315da3652477429fc4949/scikit_learn-0.21.3-cp36-cp36m-win_amd64.whl
Collectin

[2019-10-22 04:57] avati commented on #8
Could you try the git version?

[code]

[2019-10-22 06:25] #8 closed

[2019-10-24 16:41] carrielui opened #12 "can you provide a classification example?"
I would be nice to have an example of classification problem.

[2019-10-24 16:59] avati commented on #12
Hi @carrielui, thank you for filing the request. Currently our focus has been on regression problems (since the project started under a research problem that involved probabilistic regression), though the framework could trivially be extended to classification.

What needs to be done is: implement a new ``ngboost.distn.Bernoulli`` or ``ngboost.distn.Categorical`` for binary and multi-class respect

[2019-10-24 17:19] avati commented on #7
Thank you for the pull request @YMMS. I am not yet familiar with GridSearchCV API, but I imagine it can be useful and important. I will mark this as an enhancement, and also encourage others to give it a shot at implementation before I get to it 😄

[2019-10-25 15:49] avati commented on #12
Great, will look forward for the PR @wptmdoorn!

[2019-10-28 11:24] ericmjl opened #13 "Releases to PyPI and conda-forge"
Hello! I am very excited to see this package :tada:. Was wondering what the release plan to PyPI and conda-forge is? If you make a PyPI package, I am happy to help build the conda-forge recipe for you.

[2019-10-28 16:42] avati commented on #13
Hi @ericmjl, that would be awesome, thanks so much! We do have a PyPI version ( at https://pypi.org/project/ngboost/) but that is from an older snapshot. We are yet to make a release with the later code (currently git HEAD is better than the previous PyPI release). Having a conda-forge would be awesome!

[offtopic] your BNN video was one of my first introductions to the topic and it was very helpf

[2019-10-28 18:40] ericmjl commented on #13
Oh wow, that's super nice to hear :smile: Totally made my day. I'm saving this in my #feelgood folder :tada:

I will go ahead and submit a build to conda-forge. Maintenance is super easy, there's a bot that the conda-forge developers built that keeps conda-forge in-sync with the PyPI releases, so you only have to worry about:

1. Making PyPI releases, and
2. Approving and merging PRs to the conda-

[2019-10-28 19:22] AdrianAntico opened #14 "Plans for R support?"
Are there any plans for implementing this in R?

[2019-10-28 20:44] avati commented on #14
Hi Adrian,

I would currently put this as low priority for us. I personally am not too familiar or comfortable with R. However we would VERY MUCH welcome contributions for R integration at API level.

[2019-10-28 20:45] avati commented on #13
That sounds good and do-able, thanks @ericmjl!

[2019-10-28 21:04] AdrianAntico commented on #14
@avati What if I make it available in my R package via reticulate calls to Python for now?

[2019-10-28 21:13] avati commented on #14
Hi @AdrianAntico, unfortunately I am not familiar with what reticulate is. Might be good to have R API be part of ngboost to keep the APIs in sync over versions. We do plan to make some simplification changes to the model creation API. Could you create a pull request so we can have a look and discuss?

[2019-10-28 21:20] AdrianAntico commented on #14
@avati reticulate is a package in R that allows R users to call Python functions. An example of its use would be the keras pacakge in R, which is a set of reticulate bindings to call the Python functions to build those models. If you plan on making simplification changes, I can wait till the version is in a steady state before I do anything.

[2019-10-28 21:27] avati commented on #14
The plan is to have the following new classes: ``NGBRegressor``, ``NGBClassifier``, ``NGBSurvival``  etc. in place of the current single ``NGBoost`` which takes different probability distributions and scoring rules as parameters. The new classes will just invoke ``NGBoost`` internally with the appropriate probability distribution, scoring rule and base learner. That's the simplification I was refe

[2019-10-28 21:31] AdrianAntico commented on #14
@avati Thanks for the update!

[2019-10-29 00:00] cavayangtao opened #15 "Save and load model"
Hi, thank you for this repository. I'm using it in my work. I hope to know how to save and load the trained model. joblib.dump doesn't work.

[2019-10-29 00:17] avati commented on #15
Hi @cavayangtao,

Thank you for giving ngboost a try. Have you tried the git HEAD version (by ``pip install --upgrade git+https://github.com/stanfordmlgroup/ngboost``? I recently fixed joblib saving in git.

[2019-10-29 10:53] cavayangtao commented on #15
Hi @avati, it works after update. Thx!

[2019-10-29 10:53] #15 closed

[2019-10-29 17:03] wptmdoorn opened #16 "ngboost.distns.Normal implementation of nll and D_nll functions"
_Disclaimer: my background is mainly in (clinical) chemistry and less in maths/statistics (although I try to read and learn about it on a day-to-day basis) so please excuse me in advance if I am missing some obvious points._

I am trying to implement a ngboost.distns.Bernoulli class for binary classification problems using NGBoost algorithms. However, I have some questions around the implementatio

[2019-10-29 19:01] wptmdoorn commented on #16
Thank you @avati, makes a lot of sense. Sorry for asking these rather stupid questions :). I will try to work as hard as possible to get a Bernoulli class up and running. Thanks!

[2019-10-29 19:01] #16 closed

[2019-10-31 12:33] wptmdoorn commented on #12
@romanvoyt I've been busy quite a lot but I expect to upload a first version of the Bernoulli class tonight (in about ~7-9 hours). I would be more than grateful if you would jump in on the project :) I guess ngboost.distns.Bernoulli and Categorical share a lot of common theory and implementation so I think it shouldn't hurt to implement them both.

[2019-10-31 21:53] wptmdoorn opened #17 "First try at implementing `ngboost.distn.Bernoulli` class"
_Disclaimer: forgive me for all my stupid mistakes and/or misinterpretation of several statistical things. My intentions were to provide a complete, working example of the Bernoulli class before uploading it, but because several people told me that they would like to help I decided to put this (preliminary) version already on GitHub. Once it is in a more sophisticated state I guess we can open up

[2019-10-31 21:55] wptmdoorn commented on #12
@alejandroschuler I would be willing to do this, but I have to admit I am fairly new to open-source projects and also the amount of math/statistics involved in this project is a lot for me, personally. Once the Bernoulli class is implemented I could give it a go (but there also might be better persons to write such a guide!)

@romanvoyt I just submitted an issue #17, giving it a first try, any hel

[2019-11-01 01:40] tonyduan commented on #17
Hi @wptmdoorn -- thank you for the contribution!

You definitely have the main ideas correct, but let me make a suggestion:

My guess for why numerical issues are arising is due to the choice of parameterization -- the probability of a Bernoulli distribution must be bounded between [0,1] but in our framework the base learners can return unbounded outputs over the reals.

A common trick is to inste

[2019-11-01 04:33] romanvoyt commented on #12
@wptmdoorn Great. Let me check this one later, I hope I can help with it.

[2019-11-01 06:08] wptmdoorn commented on #17
Hi @tonyduan thank you for coming back to me on a such a short notice. Very much appreciated! I will start working on parameterizing the Bernoulli in terms of the logit of the distribution.

[2019-11-01 07:07] tonyduan commented on #17
Hi @wptmdoorn -- I actually had a bit of spare time this evening and finished an implementation of the Bernoulli distribution.

See the code [[bernoulli.py]](https://github.com/stanfordmlgroup/ngboost/blob/master/ngboost/distns/bernoulli.py), and I threw your example into [[classification.py]](https://github.com/stanfordmlgroup/ngboost/blob/master/examples/simulated/classification.py) which should

[2019-11-01 07:25] avati commented on #17
@tonyduan -- how about incorporating Brier loss (as an analogue to CRPS) for  Bernoulli (and similarly L_2 for Categorical)? Having a common name for all three would be nice :)

[2019-11-01 09:15] wptmdoorn commented on #17
@tonyduan wow, impressive, thanks a lot. I will start experimenting with Bernoulli class as soon as possible. Thank you also for the full mathematical derivation; these are really, really helpful for me personally.

[2019-11-01 18:24] ericmjl commented on #13
OK, conda-forge package is available! Now, every time you all make a PyPI release, a conda-forge bot will update the conda-forge recipe. Looking forward to using this package!

[2019-11-05 04:30] Satvik opened #20 "minibatch_frac < 1 does not work if X is a dataframe"
If X is a pandas dataframe and Y is a series, and minibatch_frac == 1, then `ngb.fit(X, Y)` works with no issues.

But if minibatch_frac < 1, then the function `sample` in `ngboost.py` fails to work on dataframes:

[code]

Because `X[idxs, :]` is not valid DataFrame syntax.

A workaround that works on my machine:
[code]

I'm running version 0.1.3, installed from github via pip today, on Mac OS 10.

[2019-11-05 06:49] wptmdoorn commented on #20
I guess it would probably be best to either chose `numpy.array` or `pandas.DataFrame` as our desired datatype for X and Y in the whole `NGBoost` class. This would also be benefical in further issues/additions to the library.

[2019-11-05 17:27] avati commented on #17
Let's open a new issue for Categorical

[2019-11-05 17:27] #17 closed

[2019-11-06 01:18] cdagnino opened #21 "Add __version__ attribute to the package"
Hi,

I couldn't find any  __version__ attribute within the package.
I think it's helpful for bug reports to be able to do

[code]

[2019-11-06 01:25] cdagnino opened #22 "Non reproducibility of results even after np.random.seed is set"
Hi,

I expected the training and predictions to be the same after setting `np.random.seed`
Is there another seed I should set to obtain reproducible results?

Below I have an example you can run. I'm using the current version from Github.

[code]

[2019-11-06 01:50] avati commented on #22
You need to re-set the random seed to the same value just before calling fit() the second time.

In the current way you only get reproducibility across runs of the entire script.

[2019-11-06 01:51] avati commented on #13
Is this issue good for closing for now @ericmjl ?

[2019-11-06 03:48] ericmjl commented on #13
Yes indeed!

[2019-11-06 03:48] #13 closed

[2019-11-06 06:58] wptmdoorn commented on #20
I would like to give this PR a shot coming weekend.

[2019-11-06 07:12] avati commented on #20
Sure, please submit a PR!

[2019-11-06 11:38] cdagnino commented on #22
Oh, I see! That's a bit unexpected to me.
Would you consider putting that somewhere in the docs? I don't know where to put something like that. If there's not reasonable place to put it, I'll just close this issue.

[2019-11-06 12:36] cdagnino opened #23 "natural_gradient option in fit doesn't seem to change the result"
Hi again,

Setting

[code]

vs

[code]

seems to give the same results. The code below shows at least this is the case for the predictions.

I checked the source code and the line https://github.com/stanfordmlgroup/ngboost/blob/master/ngboost/ngboost.py#L21 sets the attribute `natural_gradient` but then it doesn't seem to use it anywhere else in that file.

[code]

[2019-11-06 17:06] avati commented on #23
Ah good point. We initially had the ordinary gradient option that helped generate animations for the website. We can add it back, though we want the default to be natural gradient. Is there a particular reason you are interested in the ordinary gradient?

[2019-11-06 17:10] avati commented on #22
This is a behavior of randomized algorithms in general, and nothing to do with ngboost, boosting or even machine learning. If you want reproducible runs of something that invokes the random number generator, then we need to initialize to the same seed just before calling the algorithm. You can verify this behavior with GBM from sklearn as well. I'm not sure that it is necessary to mention this in

[2019-11-06 18:01] alejandroschuler commented on #23
@avati it would be nice to have this option so others can perform their own ablation experiments if they choose.

[2019-11-06 18:04] cdagnino commented on #22
I think GBM from sklearn IS reproducible, in the sense that setting a global `np.random.seed` is enough to get the same result from repeatedly fitting a model (see the code example below)

I think the big difference is that `random_state` is an optional parameter withing the GBM object class. Then they use a `check_random_state` function
(see here)[https://github.com/scikit-learn/scikit-learn/blob

[2019-11-06 18:08] cdagnino commented on #23
Nope, no particular reason, I was just experimenting to see the difference.

[2019-11-06 18:25] avati commented on #22
I see that I was wrong about sklearn GBM. The function you linked seems to be crossing levels of abstraction to provide a behavior that I don't completely understand yet. Looks like GBM re-seeds itself with the global seed for every run?

[2019-11-06 18:34] #23 closed

[2019-11-06 20:55] alejandroschuler commented on #22
To me, that's unexpected behavior from sklearn GBM! Are other models capable of doing that in sklearn, or is it just GBM? If so, I think this is more appropriately raised as an issue with sklearn, otherwise we can figure out how to make ngboost match the convention (which, imo, is weird).

[2019-11-07 17:52] cdagnino commented on #22
@avati I think most algorithms in sklearn allow the user to pass a random seed to the classification or regression object itself (besides the GBM example above, check the [Random Forest link here](https://github.com/scikit-learn/scikit-learn/blob/1495f6924/sklearn/ensemble/forest.py#L1275). I the random state is None, then it will use the one from `numpy`. If this is set globally, then it will use

[2019-11-07 18:18] avati commented on #22
I think I understand. It looks like the algorithms might be attempting minimize side-effects on global state of the program (and using the global random state will alter it across runs of the algo).

I now think it would be a good idea to follow sklearn's approach to handling random state. It hands down the state to the base learner as well (https://github.com/scikit-learn/scikit-learn/blob/master

[2019-11-07 18:32] avati commented on #14
Closing this issue for now. Please re-open it if there are any updates!

[2019-11-07 18:32] #14 closed

[2019-11-07 23:59] tonyduan commented on #21
Added, in [this](https://github.com/stanfordmlgroup/ngboost/commit/faa339a8b71c6398469b15860784382a6889a603) commit, thanks!

[2019-11-07 23:59] #21 closed

[2019-11-08 06:17] iopkelvin opened #26 "cannot import Bernoulli from ngboost.distns"

[2019-11-08 06:21] tonyduan commented on #26
Apologies, the version with the Bernoulli distribution is still in development and hasn't been pushed to PyPI yet.

In the meantime could you try installing with the following and try again:

`
pip3 install git+https://github.com/stanfordmlgroup/ngboost
`

Let us know if that works!

[2019-11-08 16:13] iopkelvin commented on #26
Hi Tony,
I tried that as well, but it doesn’t work."

cannot import name 'Bernoulli' from 'ngboost.distns' (/Users/kelvin/anaconda3/lib/python3.7/site-packages/ngboost/distns/__init__.py)

Best,
Kelvin

[2019-11-08 17:14] avati commented on #26
Hi @iopkelvin, I remember you from cs229! good to see you again!

I just checked again and the code works fine for me for Bernoulli. Perhaps you need to try

[code]
?

[2019-11-08 20:57] zhiruiwang commented on #5
@avati I have made a [pull request](https://github.com/stanfordmlgroup/ngboost/pull/27) of feature importance plot for DecisionTreeRegressor using similar API as sklearn. I will also make a pull request to SHAP and add in SHAP support for NGBoost.

[2019-11-08 21:18] iopkelvin commented on #26
Prof Avati,
I was very happy to realize that you created the new algorithm. I’m very excited of trying it out on my project.
I’m giving a short presentation of different gradient boosting models, and showing Natural Gradient Boosting.

Prof, I’m trying it now.
I have a question. For Bernoulli (in classification), I have the option ngb.pred_dist(x_test), and then get the .prob of the result.
This g

[2019-11-08 23:15] civilinformer opened #28 "What are the limitations to add a base learner?"
I would like to know what are the limitations in adding base learners. I see in ngboost/ngboost/learners.py only two learners implemented, each taken from sklearn. Is it the case that we can add **any** base learner from sklearn simply by adding to this file some learner and the specifying it at NGBoost instantiation time? If this is not the case what is the limitation? Why aren't more base learne

[2019-11-09 22:17] zhiruiwang commented on #5
SHAP support added to the same pull request #27

[2019-11-09 22:24] civilinformer commented on #28
I went ahead and cloned the distribution and hacked into it and tried it with a different non-linear base learner and it indeed worked. Thanks for working on this! It is very interesting.

I am puzzled by why the results differ so much between runs but I'll save that for a different issue down the road.

[2019-11-09 22:24] #28 closed

[2019-11-09 22:35] avati commented on #28
Yes any base learner will work. Not all base learners give good performance with boosting, but it should work nonetheless.

[2019-11-11 12:45] cdagnino commented on #22
@avati I can make a first try at least!
I see that the `NGBoost` subclasses the `BaseEstimator` from `sklearn`.
I'm thinking of bringing that `check_random_state(seed)` function from `sklearn` and seeing if I can make it work with the `NGBoost`.

How does that sound?
Is there any build/test procedure I should be aware of before submitting a pull request?

[2019-11-15 04:28] wakamezake opened #36 "Do you have any plans to use Github Actions?"
I want to continue testing (e.g. #35) with [Github Actions](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/about-github-actions).

[2019-11-15 06:26] avati commented on #36
I'm not familiar with Github Actions. What needs to be done by me for you to use it?

[2019-11-15 08:58] kryptonite0 opened #37 "early_stopping_rounds"
Would it make sense to implement `early_stopping_rounds` like in LGBM or XGB? If so, I'm happy to contribute to the issue.

[2019-11-15 09:11] avati commented on #37
We would certainly welcome such a contribution!

[2019-11-15 09:13] avati commented on #26
You can certainly use ngb.pred_dist(x_test)

I don't know why the NoneType error is happening. Do you have a simple test script to reproduce that error?

[2019-11-15 09:28] kryptonite0 commented on #37
Thank you. Just to check that I understand the code correctly, can you please confirm the following? At the moment, the model stops training if a validation set is provided, if at least 11 iterations have been completed, and if the average validation loss of the last 5 iterations (`[-5:]`) is bigger than the average validation loss of the previous 5 iterations (`[-10:-5]`), under the assumption th

[2019-11-15 09:34] avati commented on #37
That is correct. Could you briefly explain how xgboost's early_stopping_rounds differs? We would like to provide as similar interface to other libraries as possible.

[2019-11-15 09:52] kryptonite0 commented on #37
I believe it is implemented as a callback, and it's a bit more structured than NGBoost. It allows you to provide the model with more than one validation set. If there's more than one, it will use only the last. It also allows you to provide more than one validation metric, and - again - it will use only the last metric for early stopping. Depending on the validation metric to check against, it wil

[2019-11-15 10:14] jonas-sprindys opened #38 "classification example - custom scoring metric"
In the classification example (https://github.com/stanfordmlgroup/ngboost/blob/master/examples/empirical/clf_sklearn.py) , I tried to provide custom scoring metric:

grid_search = GridSearchCV(ngb, param_grid=param_grid, scoring = 'roc_auc', cv=5)

However, the following error is raised:
'NGBClassifier' object has no attribute 'predict_proba'

[2019-11-15 10:37] chaupmcs commented on #37
Just a small mention on LightGBM's early stopping.
LightGBM uses all the metrics for early_stopping as default. In addition, it has a parameter named  `first_metric_only` for using only one metric (first one) to calculate early stopping.

[2019-11-15 12:13] kryptonite0 commented on #37
Given that NGBoost doesn't feature multiple metrics or validation sets yet, I would just implement a simple `if` condition that, in case `early_stopping_rounds` are set to a positive integer, checks whether the loss has improved over the last `early_stopping_rounds` and terminates or continues the training accordingly. What do you think?

[2019-11-15 21:24] cdagnino commented on #22
Hi @avati , I started working on the pull request over here: https://github.com/cdagnino/ngboost/tree/global_seed

The way I see it, I need to pass this `random_state` variable to every function within `fit` (at least) that has a random component. I can guess some of those, but it would be great to have a quick chat so you can walk me over the code (you can reach me at this username at gmail). Sla

[2019-11-15 21:32] avati commented on #22
Hi @cdagnino

There should be only two places that use randomness:

- subsampling batches

- base learner fit() internals

Everything else should be perfectly deterministic.

Could you proceed with this understanding and give it a shot? If not we can sync up on one of the those channels to discuss further.

Thanks for giving it a shot! Truly appreciate it!

[2019-11-16 03:36] yutayamazaki opened #41 "Implementation of unit testing"
- I recommend you to implement unit testing to develop this package effectively and safely.
- I found RuntimeError in [NGBRegresor](https://github.com/stanfordmlgroup/ngboost/blob/master/ngboost/sklearn_api.py#L10) and [NGBClassifier](https://github.com/stanfordmlgroup/ngboost/blob/master/ngboost/sklearn_api.py#L21) noted in [this Scikit-Learn source](https://github.com/scikit-learn/scikit-learn/b

[2019-11-16 13:22] cdagnino commented on #22
Hey @avati
Sure, I'll give it a shot.
When you talk about subsampling batches, are you referring to the `.sample` method?

Does the `line_search` carry any randomness?

[2019-11-16 14:10] cdagnino commented on #22
Ok! I think I got it working for the predictions

[code]

Two issues

1. Only tested for the `.predict()`. Is there a test I should do for the distributions or something else?
2. The replication doesn't work when `minibatch_frac` different from 1. For example:

`NGBRegressor(random_state=23, minibatch_frac=0.3)`

This has to do with the `.sample` function

[code]

`np.random.choice` doesn't seem t

[2019-11-18 07:42] wakamezake commented on #41
#35

[2019-11-18 07:46] avati commented on #41
@yutayamazaki could you describe what error you got with the two classes?

[2019-11-18 07:56] wakamezake commented on #36
Invite me to repository collaborators because only repository collaborators may create workflows in GitHub Actions.
[Github - inviting-collaborators-to-a-personal-repository](https://help.github.com/en/github/setting-up-and-managing-your-github-user-account/inviting-collaborators-to-a-personal-repository)

[2019-11-18 08:41] tonyduan commented on #41
I'm able to reproduce this issue by attempting to run the file [1]. The issue seems to arise due to the way Scikit-Learn is using `GridSearchCV`; any `BaseEstimator` sub-class must be explicit about its parameters and specifically should not take **kwargs or *args.

My two cents on the Scikit-Learn API integration:

- Seems like the main advantage of this integration is easier tuning with `GridSea

[2019-11-18 22:00] wakamezake commented on #41
#35

[2019-11-19 14:29] TSFelg opened #42 "Return train and val loss"
Thank you for the excellent work with NGBoost, really excited to having been testing it out!

In commit `c4b46b9` the fit method was altered to return self instead of the train and val losses. Is there any way to access the losses with the current behavior?

I believe the losses should be accessible, because we may not be interested in doing early stopping but actually training for a longer number

[2019-11-20 09:46] wakamezake opened #43 "Scripts are not working"
[NGBoost Scripts](https://github.com/stanfordmlgroup/ngboost/tree/master/scripts) are not working because renaming and moving files.

This Link is result of executing the script.
[Google Colabratory - execute NGBoost Scripts](https://colab.research.google.com/drive/11rY_pqR1DOBzr6O9IxAx_DS5aWv7vxEX)

[2019-11-20 17:49] tonyduan commented on #43
Ah, good point -- thank you! Pushed a fix to master.

[2019-11-20 17:49] #43 closed

[2019-11-21 17:47] tonyduan commented on #7
Think we can close this issue now, see the file examples/sklearn_cv.py which uses GridSearchCV.

[2019-11-21 17:47] #7 closed

[2019-11-22 08:02] #38 closed

[2019-11-22 08:07] tonyduan commented on #38
Closing this issue since it's been addressed by PR #44.

_However_, I would advise that in general when using NGBoost, hyper-parameters are chosen (via cross validation or the like) to maximize the _explicitly specified score_ i.e. MLE or CRPS, instead of another objective such as ROC. Note that this recommendation is the behavior by default (see examples/sklearn_cv.py), due to the implementation

[2019-11-22 20:30] yutayamazaki commented on #20
Can I work for this issue?

[2019-11-23 02:57] tonyduan commented on #12
Closing this issue out since we now have a classification example.

[2019-11-23 02:57] #12 closed

[2019-11-24 12:32] wptmdoorn commented on #20
Hi, for sure. I made a start at
https://github.com/stanfordmlgroup/ngboost/pull/32 but it has some
fundamental issues (mainly with subsampling). If you have the time the
coming week, feel free to modify the code or start completely from scratch.
Otherwise I can do it in the coming weeks.

Op vr 22 nov. 2019 om 21:30 schreef YutaYamazaki <notifications@github.com>:

--
Met vriendelijke groet,

Will

[2019-11-25 12:35] ChingzhiWU opened #45 "I can't install it"
Collecting git+https://github.com/stanfordmlgroup/ngboost.git
  Cloning https://github.com/stanfordmlgroup/ngboost.git to c:\users\stig.cz\appdata\local\temp\pip-req-build-zjnf7vpn
  Running command git clone -q https://github.com/stanfordmlgroup/ngboost.git 'C:\Users\Stig.CZ\AppData\Local\Temp\pip-req-build-zjnf7vpn'
  error: RPC failed; curl 18 transfer closed with outstanding read data remainin

[2019-11-25 17:29] tonyduan commented on #45
Huh, looks to be an RPC issue? Doesn't seem to have anything to do with the codebase.

Could you try installing via PyPI and see if that works?

pip3 install ngboost

[2019-11-25 18:44] avati commented on #42
Hi @TSFelg , we are trying to maintain the API to be as similar to sklearn as possible. The behavior of sklearn is to return ``self`` at the end of ``.fit()``, and we are trying to do the same. I'm trying to understand how sklearn enables returning list of and training and val losses and making ngboost work similarly. Thoughts?

[2019-11-25 20:58] avati commented on #26
Closing this issue for now as it is not reproducible. Please re-open if you encounter it again.

[2019-11-25 20:58] #26 closed

[2019-11-26 12:31] ChingzhiWU commented on #45
I am very glad to hear from you
I have solved the installation problem, and I am greatly looking forward to more practical examples of ngboost.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Tony Duan"<notifications@github.com&gt;;
发送时间:&nbsp;2019年11月26日(星期二) 凌晨1:29
收件人:&nbsp;"stanfordmlgroup/ngboost"<ngboost@noreply.github.com&gt;;
抄送:&nbsp;"Stig "<736388414@qq.com&gt;;"Author"<

[2019-11-26 13:56] paantya commented on #42
maybe use "Return train and val loss " like in base-XGBoost?

[2019-11-26 17:12] tonyduan commented on #45
Great, closing this issue.

[2019-11-26 17:12] #45 closed

[2019-11-26 17:23] TSFelg commented on #42
Good point @avati.

The sklearn implementation of xgboost has a method called evals_result which returns the train and validations losses. This can be seen here: https://github.com/dmlc/xgboost/blob/a4f5c862760029c24a5ba29b2a2ef4787058856c/python-package/xgboost/sklearn.py

[2019-11-27 14:43] anthonymakela opened #46 "GPU usage"
Hi! I couldn't find anything on the site nor the paper on how to utilize this with GPUs. Is there even any GPU support as of yet?

[2019-11-28 15:09] mahat opened #47 "Do you have any plans to support MAE for Regression problems ?"
MAE is popular for regression problems, current model is only using RMSE

[2019-11-29 20:29] MrRobot2211 opened #49 "How to use the train and val monitors?"
Hi, I was wondering which is the purpose of the arguments train_loss_monitor and val_loss_monitor. Sklearn models usually include a monitor argument that allows  for early stopping. Is that the idea?

[2019-12-04 11:45] cdagnino commented on #22
Hi @avati . Let me know what you think and I'll send a pull request

[2019-12-05 03:45] tonyduan commented on #47
This can be done by implementing a Laplace distribution (and its homoskedastic counterpart).

The implementation would likely not be difficult, if you or anyone else has the bandwidth to do so. Otherwise this would be nice to have but we may not around to it in the short term.

[2019-12-05 03:46] tonyduan commented on #49
Yes, the idea is that this allows for a custom metric to monitor for purposes of early stopping. Otherwise the `fit` method will default to the specified scoring rule at instantiation.

[2019-12-07 00:10] kmedved opened #50 "Is it possible to use sample weights, or any plans to add a sample_weight parameter?"
This is an amazing project and I have high hopes for using ngboost in my work.  I don't currently see any sample_weight functionality. Are there any plans to add this? (I apologize, as I lack the technical expertise to do it myself).

[2019-12-07 06:46] alejandroschuler commented on #47
I think the answer to this is a little more subtle...  the current models do not use MAE (or RMSE, for that matter) because they are not optimizing for a point prediction.

In my mind, there are two reasons you might want to use MAE instead of MSE when doing point predictions. Either 1) you want to reduce the impact of "outliers" on the fit or 2) the target of estimation is the median, not the mea

[2019-12-08 19:03] srikarvaka opened #51 "Distributions for classification"
This algorithm is working really good for regression problems where we can choose the among available distributions. However it is only limited to Bernouilli for classification which outputs a single probability value for a given outcome. Is there anyway we can have a confidence interval estimation for each possible outcome?

[2019-12-08 20:35] alejandroschuler commented on #51
Hi there,

The reason that only Bernoulli is available for classification is that the Bernoulli distribution is the only possible distribution for binary outcomes.

Think about it: if you only have two possible outcomes, Y=0 or Y=1, then there are only two probabilities: p0=P(Y=0) and p1=P(Y=1), and it must be that p0+p1=1. So the distribution is basically a coin that comes up heads with probabili

[2019-12-10 13:46] paantya commented on #46
How i know, does not yet

[2019-12-10 15:00] #51 closed

[2019-12-10 15:00] #47 closed

[2019-12-10 15:02] alejandroschuler commented on #46
Correct. There is no way to run ngboost on GPUs.

[2019-12-10 15:02] #46 closed

[2019-12-10 15:04] #49 closed

[2019-12-12 06:47] srikarvaka commented on #51
Hi,
Thanks for explaining very clearly. We were trying to implement NGBoost code in a single machine and it was taking too long. We have approximately 10 million records to train and 4 million to validate. Are there any future plans to parallelize the computation?

[2019-12-12 19:38] alejandroschuler commented on #51
Not as far as I know. Boosting in general is not very naturally parallelizable, but there are probably a few things we can do that we'll look into in the future.

[2019-12-16 16:16] juanramonua opened #52 "NGBClassifier predict error"
Running your code from https://github.com/stanfordmlgroup/ngboost/blob/master/examples/classification.py
I received the following error when I try

`ngb.predict(X_test)`

`---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-33-1e4d268b4ea4> in <module>()
----> 1 ngb.predict(X_test)

/

[2019-12-17 14:49] mahat commented on #47
My current concern is #1, however as far as i know we can't set the distribution which has fatter tails. converting laplace from normal can solve it ? or another way around ?

[2019-12-17 17:59] avati commented on #47
Yes, could you please file a pull request for Laplace distribution support? Should be straightforward to implement.

[2019-12-27 14:25] Templarrr opened #53 "NGBClassifier use DecisionTreeRegressor by default"
default_tree_learner is DecisionTreeRegressor with friedman_mse criterion, which is kinda weird to use for classification.
I may be a bit confused here but is it really fine to use Regressor and not Classifier as a base class? It may be by design, but looks really weird.

[2019-12-28 06:33] alejandroschuler commented on #53
Hey @Templarrr, this is by design. The trees are estimating the probability p(Y=1|X=x) for each x (the one parameter of the conditional bernoulli distributions), which are continuous numbers between 0 and 1. That's part of what is so elegant about ngboost: instead of requiring different formalisms for classification, regression, and survival problems, we assume that Y|X=x has a particular form of

[2019-12-28 06:33] #53 closed

[2019-12-28 20:25] alejandroschuler commented on #52
Good catch... I looked into it and this is happening because the way `predict` is implemented right now is a bit silly and only works for distributions that have a `loc` parameter.

The way to fix this, imo, is to define a `predict` method for all distributions that returns the conditional mean (i.e. the `loc` parameter for those we've implemented) for continuous distributions and the conditional

[2019-12-28 21:25] alejandroschuler opened #54 "classification broken for large n_estimators and small minibatch_frac"
[code]

usually delivers a long error stack terminating in

`TypeError: ufunc 'expit' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''`

but

[code]

does not, nor does

[code]

[2019-12-30 04:35] alejandroschuler commented on #37
Closed via https://github.com/stanfordmlgroup/ngboost/commit/32e9736323b282f524274b7d88b05f0e84f987c8

[2019-12-30 04:35] #37 closed

[2019-12-30 04:52] alejandroschuler commented on #42
I think [this commit](https://github.com/stanfordmlgroup/ngboost/commit/5d979baba99cce303789c138c421c99cdb2c225f) should address the issue. Please have a look at let me know. It should work like:

[code]

[2019-12-30 04:53] #42 closed

[2019-12-30 05:06] alejandroschuler opened #55 "return predictions at best iteration"
If `fit` was called with a validation set, subsequent calls to `predict` should return the predictions from the model at best iteration according to the score on the validation set.

[2019-12-30 05:30] alejandroschuler commented on #36
I'm going to merge this issue into the unit testing issue- right now there is a lot to be done on that front but I'm going to prioritize getting a clean codebase and set of usable features before going back and writing tests.

[2019-12-30 05:30] #36 closed

[2019-12-30 05:31] alejandroschuler commented on #41
note to get CI up and running when we have some better tests: https://github.com/stanfordmlgroup/ngboost/issues/36

[2019-12-30 05:32] alejandroschuler commented on #41
I also want to try out pytest instead of unittest- seems cleaner.

[2019-12-30 17:50] alejandroschuler commented on #54
https://github.com/stanfordmlgroup/ngboost/commit/4d451d305af94f6de2397e8bf73b8d3e04683e02

[2019-12-30 17:50] #54 closed

[2019-12-30 19:04] alejandroschuler commented on #41
note to add tests for every combination of distribution and scoring rule

[2019-12-31 00:49] alejandroschuler opened #56 "implement categorical distribution for multiclass classification"

[2019-12-31 00:54] alejandroschuler commented on #52
Ok, I've fixed this issue with https://github.com/stanfordmlgroup/ngboost/commit/c05485187f1952b62797499ddbcc0b67618550aa. Please do play around with it and let me know if this now works for you and/or if you want other features.

[2019-12-31 00:54] #52 closed

[2019-12-31 03:05] alejandroschuler commented on #50
Great suggestion. I just implemented this in https://github.com/stanfordmlgroup/ngboost/commit/f108d672e62633ca5cea90720c794953b77044b5. Feel free to try it out and let me know if it works for you! You should be able to use it like:

[code]

You can even use weights for the validation set, and in combination with early stopping:
[code]

[2019-12-31 03:05] #50 closed

[2019-12-31 03:12] alejandroschuler commented on #41
note to add tests for sample weighting

[2019-12-31 03:34] alejandroschuler commented on #20
@avati I've now implemented [sample weighting](https://github.com/stanfordmlgroup/ngboost/commit/f108d672e62633ca5cea90720c794953b77044b5) but I think that doing batching via sample weights makes the code a little less modular... could be convinced otherwise.

I also think we should be careful about supporting dataframes for the time being because there are other issues that come with them, like d

[2019-12-31 03:34] #20 closed

[2019-12-31 03:58] alejandroschuler commented on #50
I should note that the model initialization does not use the sample weights since scipy.stats distributions don't accept sample weights in their `fit()` methods, unfortunately. The workaround to that is to overwrite them with our own that do, but I'm not sure it's worth the effort. Initialization is somewhat arbitrary anyways.

[2019-12-31 04:15] alejandroschuler commented on #55
closed via https://github.com/stanfordmlgroup/ngboost/commit/bc369b62a34eec419f0693cb89e40ab0ff9f3dfe. My only concern is that this may interfere with `grid_search_cv` if users want to search over `n_estimators`. However, I would suggest that this parameter should not be considered in the grid search since all numbers of estimators < B are built and considered automatically using this approach ins

[2019-12-31 04:15] #55 closed

[2019-12-31 20:42] alejandroschuler commented on #22
hey @cdagnino thanks for handling this and sorry for the delay! To answer your previous questions: 1) yes, the `sample` method implements the batching and 2) the line search is indeed deterministic.

It seems like the results you're showing here confirm your solution works ok. If you send the PR I'm happy to just have a look and approve it if it all looks good- I don't presume that the internals a

[2020-01-02 20:08] kmedved commented on #50
Lack of initialization is fine I think. From early testing, this seems to work great. I will do further testing in the next week to confirm the results.

Thanks!

[2020-01-03 00:32] alejandroschuler commented on #56
https://github.com/stanfordmlgroup/ngboost/commit/87386b69f9eeba9e0f65c4afc4e8e7b187df0c2c

Notes:
- To make this work with the existing code (which assumes each distribution has a fixed number of parameters), the categorical distribution with K classes is generated by a class factory function so the model is instantiated like: `ngb = NGBClassifier(Dist=k_categorical(3))`
- The array of outcomes `

[2020-01-03 00:39] alejandroschuler commented on #56
note: may also want to change the distributions accepting the transpose of the params... makes the code annoying

[2020-01-05 01:55] alejandroschuler opened #59 "input validation"
- make it clear that the only acceptable inputs are numeric numpy arrays
- should be integers from 0:K in the case of classification

[2020-01-05 01:57] alejandroschuler opened #60 "documentation"
- docstrings
- vignettes

[2020-01-10 16:43] ChristianMichelsen opened #61 "Overflow warnings"
This package looks so promising!

I am just testing it out on my dataset with dimensions (N, M) = (57795, 144). At first I tried with N=100, N=1000, and N=10_000 and it worked well. Now I am trying to run it on all N=57_795 and I am encountering some overflow errors, see below. Is this something to be worried about?

[code]

Cheers,
Christian

[2020-01-10 16:55] alejandroschuler commented on #61
Hey @ChristianMichelsen, the issue looks like it's due to a large estimate of log(sigma), which then blows up when exponentiated. Could you try normalizing/min-max scaling your Y and let me know if you still get the error? If that doesn't fix it I'll need some more information about the data to be of any help.

[2020-01-10 16:58] alejandroschuler commented on #61
I'd also maybe try different subsets of the data to see if it's particular rows that blow it up.

[2020-01-13 10:49] ChristianMichelsen commented on #61
My Y is already in the range from 0.1 to 68, so that shouldn't be too bad, should it?
Good idea about checking different subset, will return once I test that. Thanks!

[2020-01-15 14:33] CarlitosDev opened #62 "Feature importance"
Hi,
First of all, many thanks for **ngboost**.

The issue I'm reporting is related to the feature importances property. When I try to get this property, unfortunately the returned value is **None**. I believe this is due to the following if clause:
`if not 'sklearn.tree.tree.DecisionTreeRegressor' in str(type(self.base_models[0][0])):
            return None`
In sklearn version **0.22**, `str(type

[2020-01-15 19:26] alejandroschuler commented on #62
Hey @CarlitosDev, I think your solution is good. If you make a pull request with that change I'll accept it.

[2020-01-16 00:51] alejandroschuler commented on #62
https://github.com/stanfordmlgroup/ngboost/pull/63

[2020-01-16 00:51] #62 closed

[2020-01-16 02:34] linzaihui opened #64 "any example of multiclass classifier?"
hello, I've tried NGBClassifier with some configurations, but no luck. thank you.

[2020-01-16 03:56] alejandroschuler commented on #64
I've added an example [here](https://github.com/stanfordmlgroup/ngboost/blob/master/examples/multiclass_classification.py). To use this your `y` should have only integers in the set {0,1,2,...k}. You can get probabilities with `predict_proba`, as in the example, or predict the classes directly with `predict`. The only other thing to know is that right now the categorical distribution only works wi

[2020-01-17 05:53] wakamezake commented on #41
Is it better to rewrite tests from unittest to tests using pytest?

[2020-01-17 06:36] alejandroschuler commented on #41
@wakamezake sure, it would be welcome! I don't have any experience with either but since we're just getting started it's a good time to pick a framework and pytest seems a little easier.

[2020-01-18 19:07] anpatton commented on #60
A simple vignette on best ways to access/plot the resulting distributions would be great. Even just a couple lines at the end of the regression example.

[2020-01-18 23:17] cdagnino commented on #22
Hi @alejandroschuler
 I've sent the pull request

[2020-01-19 20:54] kmedved commented on #60
I'd also be very interested in this. I've been excitedly sharing this package with colleagues and friends, and have run into a number of functionality questions from them I can't quite address.

The big questions would be understanding how to access the resulting distributions, and more information regarding which distributions are available. Thanks for the great work.

[2020-01-20 22:06] alejandroschuler commented on #60
Thanks @anpatton and @kmedved for the great feedback!

Right now the distributions that are implemented are what you see [here](https://github.com/stanfordmlgroup/ngboost/tree/master/ngboost/distns). Most of those are for some experiments we're running to extend NGBoost to right-censored survival data, so the ones to pay attention to are a) `Normal` (you can also specify a fixed variance of 1 with

[2020-01-20 23:53] anpatton commented on #60
Thanks @alejandroschuler -- this is exactly what I was looking for.

[2020-01-21 01:21] alejandroschuler commented on #22
Thank you!

[2020-01-21 01:21] #22 closed

[2020-01-21 01:24] alejandroschuler commented on #61
hey @ChristianMichelsen any update on this issue? I'd like to close it if you figured it out.

[2020-01-21 01:26] alejandroschuler commented on #5
https://github.com/stanfordmlgroup/ngboost/pull/57
https://github.com/stanfordmlgroup/ngboost/pull/58

[2020-01-21 01:26] #5 closed

[2020-01-22 11:08] ChristianMichelsen commented on #61
I tried using only a subset of the data which helped (the errors only came up in the first 100 iterations and not afterwards), however, I am yet to try it on the whole dataset. I will return in case I run into more problems, so please feel free to close the issue.

And thanks again for an interesting new package!

[2020-01-22 19:01] alejandroschuler commented on #61
Ok, keep us updated!

[2020-01-22 20:39] kmedved commented on #60
Thanks @alejandroschuler; that's very helpful. I will try and put together a vignette based on my work using those examples to contribute a pull request.

With respect to other distributions, two come to mind, one hopefully easy, the other probably harder (or impossible):

1) Skew-T, as implemented in Scipy here: https://docs.scipy.org/doc/scipy-0.19.0/reference/generated/scipy.stats.skewnorm.html

[2020-01-23 03:48] alejandroschuler commented on #60
@kmedved that would be much appreciated!

I did a little [work](https://github.com/stanfordmlgroup/ngboost/commit/56e6cbdfea53a95be84cff2f0150b1461b960c16) just now to add some convenience methods to the normal and categorical distributions. For instance, to get the parameters for the estimated normal distributions of the first 5 test examples, you can now do:

[code]

or with the categorical dist

[2020-01-23 03:57] alejandroschuler commented on #60
@kmedved as for the distributions, could you point me to a source that clearly lays out the density (or mass) function and enumerates the parameters of each distribution? It would also be great to have sources with derivations of the gradient of the log likelihood (sometimes called the "score function") and the Fisher information matrix for each distribution.

Discrete distributions are not a prob

[2020-01-23 10:24] YeoungJe opened #67 "why sometimes get "LInAlgError:Singular matrix" error?"
model = NGBClassifier(Base=default_tree_learner, Dist=Bernoulli,
                            Score=MLE, natural_gradient=True, verbose=False,n_estimators = 500)

Here is error

--------------------------------------------------------------------------------------------------------------------------------------
`    226                 # fitting
--> 227                 model.fit(train_arx,train_ary

[2020-01-23 17:13] cooberp commented on #60
Hi @alejandroschuler my name is Dan Rosenheck, and I am the editor of the data-journalism team at The Economist magazine. One of the biggest difficulties we've had in recent years is that we do a lot of probabilistic forecasting using Monte Carlo simulations, and most off-the-shelf machine-learning tools of continuous variables tend only to provide point predictions, not distributions. In the past

[2020-01-23 17:17] anpatton commented on #60
@cooberp I'm actually an R user as well, but can confirm NGBoost works flawlessly with reticulate. Also using it for MC related purposes.

[2020-01-24 01:32] alejandroschuler commented on #60
@cooberp ok, let me give this a shot... Gradients will be easy, but I think deriving the Fisher info is going to be a mess for either of those. This actually brings up a good point though, which is that there should be a "default" method for approximating the Fisher info using MC sampling on the squared gradient. We can also bring back autograd as a default for the gradient computation. All of thi

[2020-01-24 01:35] alejandroschuler opened #68 "default methods for gradient and fisher info"
re: https://github.com/stanfordmlgroup/ngboost/issues/60#issuecomment-577955379

requires:
- autograd
- MC estimation of fisher info
- implementation of `dist.sample()` and `dist.pdf()` methods in terms of parameters in R

[2020-01-24 12:13] cooberp commented on #60
That would definitely be a good backup plan. But that does sound like it would be glacially slow if it had to be run gazillions of times to fit a model. Let me check with some math-literate friends and colleagues to see if I can get analytic/closed-form answers for the Fisher matrix.

[2020-01-24 17:00] alejandroschuler commented on #60
@cooberp sure thing. Note that I'd need the Fisher Info with respect to the log-parameters for any parameters that must be positive. Using log-parameters (which can be any real number) is the trick we use in ngboost to deal with parameters that can only take positive values.

Having the slow version would also let us verify all the explicit calculations since they should give the same answer.

[2020-01-24 17:05] alejandroschuler commented on #60
Fyi I implemented this approach last night with the normal distribution to test it and it takes about a half second per boosting iteration on a dataset with a couple of hundred observations, so a couple of minutes per model. Obviously it would be slower for larger datasets, but you can also control a) the number of MC samples used to approximate the Fisher Info and b) The subsampling per boosting

[2020-01-24 17:17] cooberp commented on #60
Yes, of course it would always be with the appropriate link function (log for positive, logit for unit interval).

The primary dataset I'm working on is around 500,000 observations, and I'd be looking at maybe 50 features. On a pretty powerful machine (16 CPU cores at 3.1 GHz/128GB RAM--is ngboost parallelized? sorry I don't know where to find that in the documentation), would we be looking at a f

[2020-01-24 17:21] alejandroschuler commented on #60
Probably hours, but I'll implement it and we can find out!

[2020-01-24 20:18] kmedved commented on #60
@cooberp - I don't believe ngboost is parallelized, and gradient boosting doesn't usually lend itself well to parallelization.

[2020-01-26 11:31] chemadix commented on #56
if my k classes were defined from a number different from "0" (e.g. from 1 to 10); how can the paremeter Dist can be modified? Is it necesary to use k_categorical?

[2020-01-26 17:45] alejandroschuler commented on #56
@chemadix it is a requirement that the classes be 0,1,2... K-1 for `Dist=k_categorical(K)`. You have to transform your Y so they are numbered that way before running ngboost. In the case you describe, just take `Y=Y-1`.

[2020-01-27 13:58] StatMixedML opened #69 "Alternative Implementations Catboost"
Dear ngboost dev-team,

there is currently some discussion going on around catboost implementation of probabilistic forecasting:

[Implement relevant algorithms from NGBoost](https://github.com/catboost/catboost/issues/1062)
[learn prediction intervals (variance, noise)](https://github.com/catboost/catboost/issues/1148)

Since ngboost is mentioned here as well, wanted to let you know.

[2020-01-28 05:23] alejandroschuler commented on #68
autograd is a pain to do with OO and (as we already knew) really slows things down. I've instead decided to provide a default method for `fisher_info()` and require the developer of a new distribution to implement:

	- __init__(self, params) to hold self.params_ = params
	- nll(self, Y)
	- D_nll(self, Y)
	- sample(self, n)
	- fit(Y)

see: https://github.com/stanfordmlgroup/ngboost/commit/ba37f1af6

[2020-01-28 05:23] #68 closed

[2020-01-28 05:49] #69 closed

[2020-01-28 06:45] alejandroschuler opened #70 "Discrete Burr XII and Skew-T distributions"
Moving discussion here from https://github.com/stanfordmlgroup/ngboost/issues/60#issuecomment-577779248

@cooberp @kmedved here is some scaffold code that I'm hoping you folks can fill in/modify to get your distributions up and running:

[code]

This is for Discrete Burr XII, but the equivalent code should also do to implement your skew-t distribution.

D_nll should be easy. Just copy-paste the nl

[2020-01-28 10:40] cooberp commented on #70
Thank you very much, Alejandro. I'm a bit swamped at the moment—I'm getting married next month!—but will eagerly take a crack at this as soon as life returns to normal. I really, really appreciate your help and effort at incorporating these idiosyncratic distributions into your package.

[2020-01-28 16:40] alejandroschuler commented on #70
Congratulations! Best of luck with all the prep.

I'll look forward to hearing your progress in a little while- don't hesitate to reach out.

[2020-01-29 21:37] omarwagih opened #73 "indentation is broken in api.py"
I believe the indentation is broken as of the last commit.

[code]
Can you please fix?

[2020-01-29 21:44] themrzmaster commented on #73
i created a PL #74 for this

[2020-01-29 22:07] alejandroschuler commented on #73
Thank you all for catching this so quickly- I forgot to test things after the merge. Very sorry about that!

It's now fixed: https://github.com/stanfordmlgroup/ngboost/pull/74

[2020-01-29 22:07] #73 closed

[2020-01-30 13:16] ogencoglu opened #76 "Decoupling Aleatoric vs. Epistemic Uncertainty"
Thanks for the great work!

Is there any way to estimate _aleatoric_ and _epistemic_ uncertainties separately with this method?

[2020-01-30 16:53] alejandroschuler commented on #76
Thanks @ogencoglu!

If I understand the question, NGBoost estimates only aleatoric uncertainty. This is the difference between a confidence interval and a prediction interval. NGBoost can be used to construct the latter, but not the former. My post on prediction intervals discusses this:
https://towardsdatascience.com/interpreting-the-probabilistic-predictions-from-ngboost-868d6f3770b2

If you wan

[2020-01-30 16:53] #76 closed

[2020-01-31 06:39] arkp1612 opened #77 "Fixing error"
Encountering this error repeatedly - "type object 'LogNormal' has no attribute 'scores' ". How can I fix it?

[2020-01-31 08:30] tonyduan commented on #77
Apologies, we just made some recent refactors -- I just made some updates to the survival regression code to reflect these changes.

@arkp1612 Could you re-pull from master and try this again? If you could provide code for us to reproduce the issue that would be helpful was well.

[2020-01-31 08:35] alejandroschuler commented on #77
Yes, exactly. Out of curiosity @arkp1612, are you using this distribution for a regular regression problem or for survival?

[2020-01-31 10:17] arkp1612 commented on #77
@tonyduan I tried it again but still it's not working. I'm unable to share the code due to confidentiality restrictions. However, running the code given in kaggle - https://www.kaggle.com/s903124/ngboost-for-nfl-data presents the same error.

This is the error that comes up -
IndexError                                Traceback (most recent call last)
<ipython-input-14-0ad390fc302a> in <module>()
-

[2020-01-31 17:11] alejandroschuler commented on #77
@arkp1612 ah, the issue is that right now the lognormal is only configured for survival problems, not general purpose regression. However, that restriction is easily removed- I'll fix it for you today.

[2020-01-31 23:35] alejandroschuler opened #78 "minibatch won't work with survival"
`ngboost.sample()` will break if you try to use it with survival data in the expected `{Time, Event}` format.

[2020-01-31 23:37] alejandroschuler commented on #77
@arkp1612 https://github.com/stanfordmlgroup/ngboost/tree/survivial-regression-integration should solve your problem. It's not pushed to master yet because I still want to make sure this approach is ok with the rest of the dev team but feel free to pull that branch and use it. I'll leave this issue open until we've finalized the changes and pulled into master.

[2020-02-02 22:03] #78 closed

[2020-02-03 01:43] alejandroschuler commented on #67
Hi @YeoungJe I'm going to close this issue for now but please get in touch again if you are still having problems and we can try and help if you provide more information.

[2020-02-03 01:43] #67 closed

[2020-02-03 05:57] alejandroschuler commented on #60
Hi all in this thread, I wrote up an extended vignette that goes through most of the features of NGBoost. It's on a development branch for now since it calls on some features that aren't yet implemented in master, but you can see it as the .readme here: https://github.com/stanfordmlgroup/ngboost/tree/survivial-regression-integration

Please have a look if you get a chance and tell me what you thin

[2020-02-03 17:20] kmedved commented on #60
This documentation is wonderful. Thanks @alejandroschuler.

[2020-02-03 20:22] anpatton commented on #60
Agree, this is extraordinarily helpful. Much appreciated.

On Mon, Feb 3, 2020 at 12:20 PM kmedved <notifications@github.com> wrote:

[2020-02-04 00:47] alejandroschuler commented on #60
Great, thanks for the feedback- glad it's helpful. I also added a bunch of docstrings to the user-facing methods, so I think things should be for the most part documented now. All of this should get merged into master shortly, so I'm going to close this issue. But please feel free to open specific issues for any new documentation you want or anything you find lacking!

[2020-02-04 00:47] #60 closed

[2020-02-04 00:54] alejandroschuler commented on #59
made clear via new documentation

[2020-02-04 00:54] #59 closed

[2020-02-04 01:03] alejandroschuler opened #80 "implement column sampling"
[Column sampling by tree](https://machinelearningmastery.com/stochastic-gradient-boosting-xgboost-scikit-learn-python/) would make NGBoost trivially scalable to high-dimensional datasets, so we should implement it.

[2020-02-04 03:16] alejandroschuler commented on #77
I've integrated the changes into master- let me know if you keep having issues and please have a look at our new [vignette](https://github.com/stanfordmlgroup/ngboost/blob/master/examples/vignette.ipynb) to see some examples.

[2020-02-04 03:16] #77 closed

[2020-02-04 18:43] alejandroschuler commented on #70
just a heads up that the developer interface for implementing new distributions has been streamlined a bit- you can see an example in our new [vignette](https://github.com/stanfordmlgroup/ngboost/blob/master/examples/vignette.ipynb).

[2020-02-06 18:04] isaacanthony opened #81 "Implement Poisson Distribution for NGBRegressor"
It would be really useful for count data if we could use the Poisson distribution with NGBRegressor, i.e.
[code]
Let me know if you have any questions. Thank you!

[2020-02-06 22:04] alejandroschuler commented on #81
Couldn't agree more!

Are you interested in trying to implement this yourself? I've written a guide on how to do it at the end of [our vignette](https://github.com/stanfordmlgroup/ngboost/blob/master/examples/vignette.ipynb) and I would love to have it test-driven. I'm more than happy to provide support or clarify points wherever needed, and it would help us improve our documentation.

[2020-02-06 22:12] #56 closed

[2020-02-07 11:48] ShirleyLiu1020 opened #82 "The tree learner that changed the parameters is not callable"
The following problem occurs when changing the parameters of the base learner. The default is a depth-3 regression tree. If I use the default tree, there is no problem.
ngb = NGBRegressor(Base=DecisionTreeRegressor).fit(X_train, y_train)

But if I change the depth of the learner like this,
ngb = NGBRegressor(Base=DecisionTreeRegressor(criterion='friedman_mse', max_depth=4)).fit(X_train, y_train)
I

[2020-02-07 20:26] alejandroschuler commented on #82
Hi @ShirleyLiu1020, I'm not able to replicate your error- the code you supplied works just fine for me. Are you sure you have the most recent version of the code? Use `pip install --upgrade git+https://github.com/stanfordmlgroup/ngboost.git` to make sure.

[2020-02-08 12:41] ShirleyLiu1020 commented on #82
I checked that my version is 0.1.5dev and tried the code you gave. But the terminal reported `ERROR: Command errored out with exit status 1: git clone -q https://github.com/stanfordmlgroup/ngboost.git /private/var/folders/69/9qgttlg95xx58m395h4_d0xc0000gn/T/pip-req-build-rhvlg93y Check the logs for full command output.`

[2020-02-08 16:15] alejandroschuler commented on #82
The version number hasn't been updated consistently yet so unfortunately that's not of much use. But I'm still sure it's a version issue since the code works fine for me.

I don't know why you're not able to upgrade with pip. Maybe try `pip3`? You can also try uninstalling and then downloading the code manually (or fork and clone) from GitHub and then adding whatever directory you put the code in

[2020-02-09 06:02] ShirleyLiu1020 commented on #82
Ok, thank you very much for your answer. I'll try it.

[2020-02-09 16:14] alejandroschuler commented on #82
We've also just updated the version on pypi so a normal `pip install --upgrade ngboost` should now get you the latest code.

[2020-02-10 05:22] ShirleyLiu1020 commented on #82
Wonderful! This is extraordinarily helpful. Much appreciated.

[2020-02-10 06:19] alejandroschuler commented on #82
Sure thing, happy to help. I'm going to close the issue for now but let me know if you still need a hand with anything.

[2020-02-10 06:19] #82 closed

[2020-02-10 16:09] informatica92 opened #83 "could not broadcast input array from shape (0,360000) into shape (1,360000)"
Hi all,
I am trying to test NGBoost on one of my dataset but I am getting a not easy to understand error and it is:
could not broadcast input array from shape (0,360000) into shape (1,360000)

The type and the preview of the dataset is:
![image](https://user-images.githubusercontent.com/17550961/74166755-6c24ad80-4c27-11ea-9db1-c05e5f71c21b.png)

While the code I am trying to execute is:
![image](

[2020-02-10 19:21] songsy opened #84 "Slide deck not accessible"
I have trouble getting the slide deck through the link at the end of README. Could you update the link? Thank you!

[2020-02-10 19:41] tonyduan commented on #83
@informatica92 Could you print the shapes of `data_dataset` and `target_dataset`?

[2020-02-11 06:19] X1AOX1A opened #85 "TypeError: 'NoneType' object is not callable"
When I run the NGBoost with CRPS score, there is always bring out an error like:

`$ python3 -m examples.empirical.regression --dataset=housing  --score=CRPS --natural
== Dataset=housing X.shape=(506, 13) CRPS/Normal

Traceback (most recent call last):

  File "//anaconda3/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)

  File "//anaconda3/lib/python3.7/runpy.p

[2020-02-11 07:20] tonyduan commented on #85
Looks like you're using an outdated version of the codebase.

Could you try pulling and trying again?

`pip install --upgrade git+https://github.com/stanfordmlgroup/ngboost.git`

[2020-02-11 10:25] informatica92 commented on #83
![image](https://user-images.githubusercontent.com/17550961/74228629-20bedd80-4cc1-11ea-80ef-666d5ea8101b.png)
Hi @tonyduan, these are the shapes of the variables you asked me

[2020-02-11 19:15] JMBurley commented on #81
Thanks @alejandroschuler, I'm looking into implementing this with @isaacanthony and was wondering the following after reading the vignette:

1.  Can you define how the NGBoost “dynamically creates a new class” and what we need to do to ensure that works re: _When a user asks NGBoost to use the Laplace distribution with the LogScore, NGBoost will first find the implementation of the log score that

[2020-02-11 19:43] alejandroschuler commented on #81
Awesome, I'm really happy you're giving this a shot! Besides making this distribution available for use, it's going to accelerate the whole NGBoost project since it will serve as another worked example of implementing a new distribution and will improve the documentation. It's a huge contribution, so thanks again for that.

As for your questions:
1. you don't have to do anything- we designed it so

[2020-02-11 20:27] alejandroschuler commented on #81
Just an FYI that I've split off the material at the end of the vignette into a separate [developer guide](https://github.com/stanfordmlgroup/ngboost/blob/master/examples/dev_vignette.ipynb) and updated it with points from the discussion here.

[2020-02-11 21:34] tonyduan commented on #83
@informatica92 Since we're unable to reproduce this error, can you attach the notebook you're using? It would greatly help us debug.

[2020-02-11 22:25] JMBurley commented on #81
Great, thanks Alejandro.  That all makes sense.

Long-term I'd love to implement an extra scoring metric, but will hold off on that pending solution of the simpler problem of Poisson distribution...

[2020-02-12 04:02] alejandroschuler commented on #84
this should now be fixed. Let me know if you have any issues.

[2020-02-12 04:02] #84 closed

[2020-02-12 08:06] alejandroschuler opened #86 "LogNormal CRPScore doesn't work"
[code]

gives `ValueError: solve: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (m,m),(m,n)->(m,n) (size 404 is different from 2)` in `np.linalg.solve`. See: https://github.com/stanfordmlgroup/ngboost/runs/440525418?check_suite_focus=true

[2020-02-12 08:13] alejandroschuler commented on #86
also happens for `NGBSurival`

[2020-02-12 18:47] alejandroschuler opened #87 "overflow warnings in NormalCRPScore"
[code]

gives a bunch of warnings like `RuntimeWarning: overflow encountered in exp  self.scale = np.exp(params[1])`, but at the end of the day the metrics seem ok:

[code]

[2020-02-12 21:49] tonyduan commented on #86
Thanks for finding this bug. Think I fixed it with [[this]](https://github.com/stanfordmlgroup/ngboost/commit/74f2f90cc2839a5414b177034e634c4b6f9fb755) commit, PTAL.

[2020-02-12 22:15] alejandroschuler commented on #86
tests pass, so I'll close this. Thanks!!

[2020-02-12 22:15] #86 closed

[2020-02-12 23:55] #85 closed

[2020-02-13 11:52] Ycallaer opened #88 "Pickling ngboost models fail"
Hi,
I am running the latest version of ngboost.
When trying to pickle a ngboost model I get the following failure:
`Can't pickle <class 'ngboost.manifold.Manifold'>: it's not found as ngboost.manifold.Manifold`

The reason for this is that the class is Manifold is nested and pickle doesn't really like that.
Joblib also fails (because it is using pickle in the backend). The only alternative I am cu

[2020-02-13 19:03] alejandroschuler commented on #88
@Ycallaer this is very interesting! We did not consider pickling or model saving when we wrote the code so I'm glad you are bringing it up so we can address that.

The way the code is set up right now allows for maximum modularity. That's extremely important both for maintainability and making it easy for developers to add new distributions, scores, or 'modes' of regression (e.g. interval censorin

[2020-02-13 19:38] alejandroschuler commented on #88
well that was easier than I thought! https://github.com/stanfordmlgroup/ngboost/commit/3d8dbcd28f233e5ca32fb9487fc1fe555a09c0c2

I'll close this for now but lmk if you have any issues. I've added an example at the end of the vignette too.

[2020-02-13 19:38] #88 closed

[2020-02-13 20:01] alejandroschuler commented on #83
@informatica92 any luck with this?

[2020-02-13 20:37] alejandroschuler commented on #80
implemented  https://github.com/stanfordmlgroup/ngboost/commit/27f3897e3723baf80e51aeeac6fbc155cd5c86f5

[2020-02-13 20:37] #80 closed

[2020-02-13 20:46] alejandroschuler commented on #41
hey @wakamezake I've started to expand the test suite a bit and I'm wondering if you're interested in lending a hand. Ideally I'd like to test all the combinations of all of the features that we've laid out in the [vignette](https://github.com/stanfordmlgroup/ngboost/blob/master/examples/vignette.ipynb) in a way that's similar to how you wrote the tests in `test_basic` and what I have now in `test

[2020-02-16 19:20] alejandroschuler commented on #81
Great, lmk if you get stuck anywhere!

[2020-02-17 14:13] wakamezake opened #90 "Automatically apply python code styling (black)"
I often see [commit for code cleanup](https://github.com/stanfordmlgroup/ngboost/search?q=clean&type=Commits).
I think it is better to automatically apply python code styling.

- [pre-commit](https://pre-commit.com/)
- [black](https://github.com/psf/black)

[2020-02-17 19:54] alejandroschuler commented on #90
hey @wakamezake, thanks for these suggestions! Right now I have CI set up through GH actions (as I think you suggested a while back) and it uses the default python package workflow (linting and testing). Are you suggesting pre-commit checks in addition to the CI? Or can we just add black to the CI? If you send me a workflow script I can switch out what we have. Right now it's:

[code]

[2020-02-20 05:22] alejandroschuler commented on #90
@wakamezake what do you think about also adding [isort](https://github.com/timothycrosley/isort)?

[2020-02-20 05:43] jfb10d opened #92 "pickling error for NGBClassifier"
Got the following error when pickling a trained model:
`AttributeError: Can't pickle local object 'k_categorical.<locals>.Categorical'`

And here's the code:
[code]

Thanks for looking into it in advance!

[2020-02-20 07:30] alejandroschuler commented on #92
I think I got it with https://github.com/stanfordmlgroup/ngboost/commit/0c51f1444c5c8bfa12e94cb96177caa730ad26df, but let me know if it still doesn't work for you after updating.

[2020-02-20 07:30] #92 closed

[2020-02-20 10:56] olkurinnoy opened #94 "Pass pandas dataframe into fit function"
I'm getting error when I try to pass pandas dataframe X into fit.
As I see only numpy arrays can be passed now because of indexing in sample function
`return idxs, col_idx, X[idxs, :][:, col_idx], Y[idxs], params[idxs, :]`
 that rises error for pandas.
In earlier versions (before 27f3897e3723baf80e51aeeac6fbc155cd5c86f5 commit) for minibatch_frac = 1.0 it worked
`if self.minibatch_frac == 1.0:

[2020-02-20 17:24] alejandroschuler commented on #94
That's correct- we don't support pandas dataframes. The reason is that if we were to support pandas, we would have to make some choices about how to handle different kinds of data types, e.g. categorical, date-time, etc. that can reside in a pandas dataframe. Depending on the application, whatever way we handle it might not be the best way to do it, and the user may not even be aware that what we

[2020-02-20 17:24] #94 closed

[2020-02-21 09:49] olkurinnoy commented on #94
@alejandroschuler Thank you for quick and comprehensive response!
Now I see that it was design solution, I asked this question because many libs (e.g. classifiers in sklearn) supports pandas dataframes without non-numerical features transform.
For now I don't have specific propositions about handling such features, if I have really good ideas I'll inform you but for now I don't want to waste your

[2020-02-21 17:28] alejandroschuler commented on #94
No problem, not at all a waste of time! Let me know if/when you find out how those libraries handle this issue.

[2020-02-21 19:55] #90 closed

[2020-02-22 10:12] daikikatsuragawa opened #97 "Proposal of package management by pipenv"
Package dependencies are complex. Currently, [requirements.txt](https://github.com/stanfordmlgroup/ngboost/blob/master/requirements.txt) is used in ngboost. Considering future maintenance, it is desirable to use pipenv, which has various merits.

[2020-02-22 18:26] #97 closed

[2020-02-22 18:31] alejandroschuler opened #99 "Automatic version numbering?"
@wakamezake @daikikatsuragawa thank you both for all your recent help with the package infrastructure!

One thing that is bugging me is that I *always* forget to update the version number when I push changes. Do you know of a framework or set of pre-commit hooks that would solve this problem? It seems like [GitVersion](https://github.com/GitTools/GitVersion) might be what I'm looking for but I don

[2020-02-23 14:28] daikikatsuragawa commented on #99
That's very good idea!
But I don't understand how to use GitVersion. 😰

[2020-02-25 14:09] daikikatsuragawa commented on #99
I'll look into it!

[2020-03-01 11:39] andreykirson opened #103 "Plot prediction with intervals"
Does it include function to plot the prediction with prediction intervals?

[2020-03-01 17:55] alejandroschuler commented on #103
No, it's not really feasible to plot when the number of predictors is greater than two. Also, the construction of the prediction interval depends on the chosen distribution. Right now that's left to the user to do based on the predicted distributional parameters, but we could add methods to each distribution that return x% prediction intervals if that's something many users are interested in.

[2020-03-02 12:00] andreykirson commented on #103
Would you mind give a link how to get prediction interval according to chosen distribution.

[2020-03-04 23:08] tonyduan commented on #103
@andreykirson Not sure if this is exactly what you're looking for, but here's the code we used to plot the 95% prediction interval in Fig 1 of our paper: [[Code]](https://github.com/stanfordmlgroup/ngboost/blob/26787178d958d3801572391a84f202d545aaecd9/figures/toy_single.py#L62).

In this case the outcome is modeled as a Normal distribution so the 95% interval is just μ ± 1.96 σ. More generally you

[2020-03-05 11:05] joseramoncajide opened #104 "Error saving model"
Hi!
First of all, congratulations for your excellent work.
I'm trying to save the model using `pickle.dump`  command. Every thing works as in the documentation but when the model  is fitted using an exponential distribution it fails:

[code]
Error msg:
`AttributeError: Can't pickle local object 'NGBRegressor.__init__.<locals>.DistWithUncensoredScore'`

If using:

[code]

The error details are:

`P

[2020-03-06 10:14] ethansyh commented on #104
Same here, we found out once the Dist=LogNormal or Exponential during training, the model cannot be saved.

[2020-03-06 16:37] alejandroschuler commented on #104
Interesting! I'll look into it today, I'm pretty sure it should be an easy fix.

[2020-03-07 00:55] alejandroschuler commented on #104
Should be fixed now https://github.com/stanfordmlgroup/ngboost/commit/38a152fa1c9e1ae7385f99d80c74e400706eb5f8

Let me know if you have any problems!

[2020-03-07 00:55] #104 closed

[2020-03-07 12:17] anpatton opened #105 "Question re: iterations when tuning"
Hello,

If this is too questiony as opposed an issue, feel free to delete, but this seems to be the best place to ask. I was running the toy examples on the explanation page after running into some issues with my model. @kmedved

Below is the verbose=True output from the most basic use case shown.

`[iter 0] loss=3.6260 val_loss=0.0000 scale=0.5000 norm=3.3052
[iter 100] loss=3.0573 val_loss=0.000

[2020-03-07 21:44] joseramoncajide commented on #104
Now it works!
Thanks @alejandroschuler

[2020-03-07 22:48] alejandroschuler commented on #105
Hey @anpatton I think the issue is that you have `'n_estimators': [20, 40]` in the tuning grid, at least in the example in the colab notebook. So the models are relatively underfit, which explains why the predictions are in a narrow bound. When I remove that from the tuning grid I get:
![image](https://user-images.githubusercontent.com/7213095/76153550-3a660180-6082-11ea-8f6e-aae0297eb744.png)

I'

[2020-03-09 20:05] CoteDave opened #106 "Instability in performance (Multivariate Regression)"
Hi,

I tried the NGBRegressor on the Boston dataset, and it perform very well, like the demo example, It offer similar / best results thant XGBoost or RandomForest.

When I try NGBRegressor on an other very simple regression dataset from kaggle (https://www.kaggle.com/mirichoi0218/insurance) it perform very very very bad compared to Random Forest or XGBoost or .... LinearRegression !!

Is there a

[2020-03-09 20:18] CoteDave commented on #106
Got better results with Exponential and LogNormal distributions... would be nice to have a 'Auto' option for the Dist parameter, that auto-select the best distribution.

Thanks!

[2020-03-09 20:18] #106 closed

[2020-03-09 20:31] alejandroschuler commented on #106
@CoteDave there could be a number of reasons for this.

Although, if you are only interested in prediction RMSE and not in probabilistic prediction (i.e. prediction intervals) you should not use ngboost. XGBoost will almost always be strictly better for RMSE. Although NGBoost can be used for standard point prediction and it seems to perform only slightly worse than dedicated approaches like XGBoos

[2020-03-13 03:00] kmedved commented on #105
@alejandroschuler with respect to how to tune n_estimators, my approach, stolen from a variety of Kagglers, is to not tune the `n_estimators` parameter and instead set it at some extremely high number (say 10,000), and then rely on early stopping to essentially tune that parameter for me, setting the `n_estimators` in the final fit model at the value of `best_val_loss_itr`.

However, when I try th

[2020-03-13 03:20] alejandroschuler commented on #105
@kmedved I think what you're seeing is the combination of two things. First, here is the code that gets called when you predict:

[code]

In other words, if there a validation set passed to the fit function, then it will record the iteration that minimized the score and use that number of estimators to return the prediction in the future. I remember implementing this behavior, but to be honest I c

[2020-03-13 04:22] kmedved commented on #105
Thanks @alejandroschuler - that makes sense on the validation data issue. I suspected it was something like that. I don't have strong thoughts as to whether the LightGBM behavior is better or not. It may be worth adding to the documentation that it's different is all however, since I suspect many users have experience with LightGBM (or xgboost, etc...) and may be surprised otherwise.

I'll need to

[2020-03-13 19:03] alejandroschuler commented on #105
The score is whatever proper scoring rule you are using to evaluate your probabilistic prediction. A loss function, like RMSE, will compare a point prediction to a data point and value how good the prediction is. A scoring rule does the same thing, but instead of comparing a point prediction to a data point, it compares an estimated probability distribution to a data point. The default scoring rul

[2020-03-13 23:05] tonyduan commented on #105
@kmedved Just to add to what Alejandro's said:

I've edited your notebook (I hope you don't mind) to print, for Ex. 1 and Ex. 2, the negative log-likelihood (NLL) in addition to MSE. As expected with test set NLL is lower with early stopping compared to without. What this suggests is the quality of 𝞂 of predicted distributions is higher (as measured by NLL), though at the expense of worse μ of the

[2020-03-14 03:40] kmedved commented on #105
Thank you both @alejandroschuler and @tonyduan - this is exactly what I was looking for. It seems like the divergence between MSE and NLL is simply much greater than I appreciated. This behavior makes sense now.

And thanks again for taking the time to respond to these somewhat basic questions and for writing/maintaining such a great library in the first place.

[2020-03-14 22:12] alejandroschuler commented on #105
Just a heads up that I changed the code so that, even when a validation set is passed, in, you need to manually tell `predict` to predict at the number of iterations that minimized the score, as is done in the [user guide](https://stanfordmlgroup.github.io/ngboost/2-tuning.html).

[2020-03-14 22:13] alejandroschuler commented on #105
in other words, now your model 1 and model 2 should be the same

[2020-03-16 12:45] kmedved commented on #105
Great. I think that behavior makes a bit more sense, if for no other reason than to more closely align with other libraries.

[2020-03-17 18:40] tonyduan commented on #103
Closing this for now, feel free to re-open if necessary.

[2020-03-17 18:40] #103 closed

[2020-03-20 12:41] paulbutera commented on #81
Hello!
Is this still being looked into?

I had a play with it but got a bit confused.
The poisson implementation in scipy is a bit different to laplace - no fit method.
I _think_ i got around this, obtaining mu with a minimization function.
Got really confused trying to implement d_score.

Way over my head.
Any help greatly appreciated.

[2020-03-20 16:49] daikikatsuragawa commented on #99
For the time being, I would like to respond to the following. What do you think?

- Make [this code](https://github.com/stanfordmlgroup/ngboost/blob/master/setup.py#L5) in setup.py a variable.
- Then, it is made to correspond to the value of [ngboost/__init__.py /](https://github.com/stanfordmlgroup/ngboost/blob/master/ngboost/__init__.py#L4).

Specifically, When reading variables, `dev` is delete

[2020-03-20 17:07] daikikatsuragawa commented on #99
Or create a `VERSION.txt`.

[2020-03-20 17:35] tonyduan commented on #81
@paulbutera Can you make a pull request with your code if that's available?

[2020-03-20 17:58] JMBurley commented on #81
Isaac and I ended up looking at negative binomial (rather than Poisson).  We got most of it implemented in a short session but were held up by robustly defining the gradient of a discrete distribution.

That said, I now have a continuous approximation of  negative binomial dist. in hand so I think we can push it through when we have time [COVID-19 is not helping with our availability...]

[2020-03-20 18:13] tonyduan commented on #99
I like the `VERSION.txt` approach. If you have the time could you take a stab at that?

[2020-03-20 19:07] yutayamazaki commented on #99
@tonyduan @daikikatsuragawa How about this approach used in [optuna](https://github.com/optuna/optuna). I think it's more python friendly way.
- First, create [version.py](https://github.com/optuna/optuna/blob/master/optuna/version.py) that only has a variable `__version__` like `ngboost/__init__.py`.
- Then, read the version number in [setup.py](https://github.com/optuna/optuna/blob/master/setup.

[2020-03-21 05:56] daikikatsuragawa commented on #99
@yutayamazaki
Oh! I think it is good idea!

[2020-03-21 06:00] tonyduan commented on #99
Sounds good to me, thank you!

[2020-03-22 05:41] #99 closed

[2020-03-26 19:05] jirvin16 opened #112 "Feature importances raises error"
I think this condition:
https://github.com/stanfordmlgroup/ngboost/blob/master/ngboost/ngboost.py#L381

can cause the code to break due to different numbers of values in the weighted average:

https://github.com/stanfordmlgroup/ngboost/blob/master/ngboost/ngboost.py#L393-L395

Deleting that line fixed the error for me, but not sure if that's the correct way to fix.

[2020-03-26 20:57] macklin-fluehr opened #113 "Incorrect Documentation on Early Stopping"
Looks like line 947 in 2-tuning.html has an error.

`early_stopping_rounds=2` should be a parameter of fit not of NGBRegressor.

[2020-03-26 21:05] macklin-fluehr opened #114 "Sample weighting with minibatch_frac != 1 breaks"
Given the current implementation of sample weighting, you cannot batch. Code runs with minibatch_frac=1. but any other value will break.

It looks like the size of sample_weight right now is fixed (see line 202 of ngboost/ngboost.py), despite the fact that sample sizes will change with different batch sizes.

The first error I get is a numpy error, which points me towards the differing array sizes

[2020-03-26 23:33] Shafi2016 commented on #51
How can we make a prediction interval? Is there any example of it.

[2020-03-26 23:50] tonyduan commented on #51
@Shafi2016 Does [[this issue thread]](https://github.com/stanfordmlgroup/ngboost/issues/103#issuecomment-594919649) help?

[2020-03-27 00:50] Shafi2016 commented on #51
Thanks a lot!  It helped: However, I could not fix one small issue. Though I tried to convert it another form however it did not work for me. "AttributeError: 'numpy.ndarray' object has no attribute 'scale" .This is your example code.

import numpy as np
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from ngboost import NGBRegressor
from ngboost.learn

[2020-03-27 01:33] Shafi2016 commented on #51
Sorry I found my mistake it should have been instead as y_pred = ngb.pred_dist(X_test)
y_pred.scale

[2020-03-27 06:56] tonyduan commented on #51
Sure glad you figured it out.

[2020-03-27 21:32] Shafi2016 commented on #51
I have two more questions:

How to improve the model performance. As we do not have lots of parameters as we do in XGBoost or LightGBM if I am not wrong. (https://github.com/stanfordmlgroup/ngboost/blob/master/ngboost/api.py)
In my case I am using the following:
ngb = NGBRegressor(n_estimators=40000,learning_rate =0.09,minibatch_frac=1,tol=0.0009,random_state=22,natural_gradient=True,

[2020-03-30 08:05] tonyduan commented on #113
Thanks for catching this, should be fixed now.

[2020-03-30 08:05] #113 closed

[2020-03-30 08:09] tonyduan commented on #51
@Shafi2016 The `col_sample` error should be fixed if you upgrade to the version of NGBoost on GitHub. Run the following and see if it fixes things:
`pip install --upgrade git+https://github.com/stanfordmlgroup/ngboost.git`

The predicted distributions can be created using `ngb.pred_dist` and these objects are just SciPy distributions. For details/examples see our user guide: https://stanfordmlgrou

[2020-03-30 19:04] Shafi2016 commented on #51
Thanks, a lot: It worked.

[2020-03-31 07:06] RosaShao opened #115 "I can't save Models."
When I use the save way given in 'NGBoost User Guide'.

`import pickle
from pathlib import Path

file_path = Path.home()/'Desktop'/'ngbtest.p'

with file_path.open("wb") as f:
    pickle.dump(ngb, f)`

I got that:

Can't pickle local object 'manifold.<locals>.Manifold'

I can save other models in the same way but NGBoost not.
Is anything wrong? Can you help me? Thank you very much!

By the way, I

[2020-03-31 16:52] alejandroschuler commented on #115
@RosaShao please install the latest version of the package. This was an issue that existed with previous versions of the code and has since been resolved. I'm going to close the issue for now but let me know if updating doesn't solve the problem.

[2020-03-31 16:52] #115 closed

[2020-03-31 19:01] alejandroschuler commented on #114
I think I've fixed this with https://github.com/stanfordmlgroup/ngboost/commit/2ae82bd7b05fa463547adc97551849ade5a980d5. A working example is now provided [here](https://stanfordmlgroup.github.io/ngboost/1-useage.html#Other-Arguments).

Thanks for catching this! Will close for now, but please comment and reopen if you still have this problem after updating.

[2020-03-31 19:01] #114 closed

[2020-03-31 19:05] alejandroschuler commented on #112
Yep, you're definitely right about that condition causing problems. It seems like deleting that line is a safe fix, but I'm hesitant because I'm not sure what the purpose of it is in the first place. @zhiruiwang - could you clarify?

[2020-03-31 19:06] #83 closed

[2020-03-31 19:15] alejandroschuler commented on #81
Hmm, the discrete nature of the distribution shouldn't be a problem. Remember that the gradient is of the score w.r.t. the parameter(s), which are continuous. For example, [here's our implementation of the categorical distribution](https://github.com/stanfordmlgroup/ngboost/blob/master/ngboost/distns/categorical.py). This distribution is certainly discrete, but its K-1 parameters (the log odds of

[2020-03-31 19:38] zhiruiwang commented on #112
@alejandroschuler That condition is for checking whether the model has been fitted. If the model has not been fitted, the self.base_models will be an empty list and we do not want to proceed forward.

[2020-03-31 20:03] alejandroschuler commented on #112
Oh, sorry @zhiruiwang I made a push earlier that changed the line numbers and the links above. We're actually talking about what is now line [393](https://github.com/stanfordmlgroup/ngboost/blob/2ae82bd7b05fa463547adc97551849ade5a980d5/ngboost/ngboost.py#L393), not 381.

[2020-03-31 21:05] zhiruiwang commented on #112
@alejandroschuler I am following the same way sklearn create feature importance for RandomForestClassifier: https://github.com/scikit-learn/scikit-learn/blob/95d4f0841/sklearn/ensemble/_forest.py#L432

[2020-03-31 21:14] alejandroschuler commented on #112
Oh, got it. In that case, I think we can get rid of that condition, although I don't think it's something we would ever run into in the first place. Thanks!

https://github.com/stanfordmlgroup/ngboost/commit/c981c153c04b3d3028559c59d2be55d355467bee

[2020-03-31 21:14] #112 closed

[2020-04-07 15:22] alejandroschuler commented on #41
https://hypothesis.readthedocs.io/en/latest/quickstart.html

[2020-04-08 18:32] poojaagrwal opened #116 "Not able to pickle ngboost model in latest version 0.2.0"
File "/usr/local/lib/python3.8/site-packages/joblib/numpy_pickle.py", line 507, in dump
    NumpyPickler(filename, protocol=protocol).dump(value)
  File "/usr/local/lib/python3.8/pickle.py", line 485, in dump
    self.save(obj)
  File "/usr/local/lib/python3.8/site-packages/joblib/numpy_pickle.py", line 295, in save
    return Pickler.save(self, obj)
  File "/usr/local/lib/python3.8/pickle.py", li

[2020-04-14 11:08] mustfkeskin opened #117 "Class Weights"
How i can assign class weights for imbalanced classification problem

[2020-04-15 18:45] aoelvp94 commented on #117
I have the same problem

[2020-04-16 00:41] alejandroschuler commented on #117
Construct the weights manually (e.g. `weights = y*w1 + (1-y)*w0` where `w1` and `w0` are the weights for classes 1 and 0, respectively) and then use the `[sample_weight](https://stanfordmlgroup.github.io/ngboost/1-useage.html#Other-Arguments)` argument.

[2020-04-16 01:32] #117 closed

[2020-04-16 01:44] rehan814 opened #118 "syntax error in the user guide for early stopping"
There is a typo in the user guide under the heading early stopping.
It states that early stopping is a parameter to the NGBRegressor whereas its a parameter
for the fit function.

Current
_ = NGBRegressor(early_stopping_rounds=2).fit(X_reg_train, Y_reg_train, X_val=X_reg_test, Y_val=Y_reg_test)

Proposed:
_ = NGBRegressor().fit(X_reg_train, Y_reg_train, X_val=X_reg_test, Y_val=Y_reg_test, early_st

[2020-04-17 05:09] #118 closed

[2020-04-17 05:10] tonyduan commented on #118
Thanks for pointing this out, should be fixed in [[this commit]](https://github.com/stanfordmlgroup/ngboost/commit/e3c78d43a62795b0c94c76043c554d7fe587bc64).

[2020-04-20 18:13] anpatton commented on #116
I'm getting a similar error despite having pickled and unpickled many ngboost models as recently as this morning.

`AttributeError: Can't pickle local object 'manifold.<locals>.Manifold'`

[2020-04-20 23:57] jaime-gacitua commented on #116
Same issue here, @anpatton where can I find the development version?

[2020-04-21 00:05] anpatton commented on #116
pip install --upgrade git+https://github.com/stanfordmlgroup/ngboost.git

[2020-04-21 00:20] poojaagrwal commented on #116
Thanks, I am going to try dev version "0.2.1dev"

[2020-04-21 02:28] alejandroschuler commented on #116
Hey all, sorry for the delay on this- I'll have a look tomorrow and see
what i can do!

On Mon, Apr 20, 2020, 5:21 PM poojaagrwal <notifications@github.com> wrote:

[2020-04-21 02:29] jaime-gacitua commented on #116
It worked for me with the development version!

[2020-04-26 20:57] yutayamazaki opened #119 "How about setup linter like flake8"
The code in this repository seems to be poorly readable due to the lack of uniformity in formatting. So how about using a tool like flake8 to unify the format? If you want to adopt linter, I'll do it.

[2020-04-27 05:59] alejandroschuler commented on #119
We're already using [black](https://github.com/psf/black)

[2020-04-30 18:45] olegmyrk opened #120 "MultivariateNormal doesn't seem to work"
I'm trying to fit ngboost.distns.MultivariateNormal to 2D data (to predict covariance).

Unfortunately at the moment I am getting an error:
`AssertionError: MultivariateNormal is not useable for regression.`

[2020-05-04 08:20] tonyduan commented on #120
Hi Elog,

At the moment the Multivariate Normal distribution is still under development and is intended for use in survival regression (i.e. with censorship).

That said, it should not be terribly difficult for the development team to repurpose it for regression. Could you give a bit more context on the problem you're intending to use this for?

[2020-05-06 01:50] jirvin16 opened #121 "Silent (potential) bug in calibration_regression function."
https://github.com/stanfordmlgroup/ngboost/blob/master/ngboost/evaluation.py#L16

If `Y` has a 1-D shape, I.e. (N,), then since `icdfs` is of shape (N, 1), `Y < icdfs` is incorrectly computed and is of shape (N, N).

Credits to @ezelikman for the catch!

[2020-05-06 07:00] tonyduan commented on #121
Thanks for the catch, Jeremy and Eric!

Back when I had written this evaluation code this repo only supported Y of shape (N, 1). At some point we added support for shape (N,) and I forgot to update accordingly.

In any case, I should have fixed this in [[this commit]](https://github.com/stanfordmlgroup/ngboost/commit/5acfefe01af29660e98d6b9d739fb100c2a2ca11) and now both shapes (N, 1) and (N,) sho

[2020-05-06 07:00] #121 closed

[2020-05-07 20:50] kmedved opened #122 "Multiregression - feature request/inquiry"
Thanks again Ngboost for a wonderful package.  I wanted to ask whether the Ngboost algorithm was compatible with multiple output regression, similar to [Catboost's functionality here.](https://github.com/catboost/catboost/issues/547).

The idea is that it would be useful to understand the distribution for multiple target vectors which may have a relationship between each other. As described in the

[2020-05-07 22:13] tonyduan commented on #122
Hi -- congrats on the DARKO release, and thanks for the suggestion.

I want to make sure my understanding is clear. Is it the case that the predictor for each output is built independently? That is, the trees (or other base learners) underlying each output are not correlated with each other? So this feature would simply be a convenience wrapper around a set of NGBoost models that target each outpu

[2020-05-07 22:33] kmedved commented on #122
Well, that's the rub. The predictors are actually not independent, and I was hoping to be able to use Ngboost to find relationships between them in building the model. The goal is to build a model which predicts multiple target variables which takes into account the relationship between the targets.

My (very limited) understanding what that this was possible with decision-tree models (e.g., this

[2020-05-09 19:29] tonyduan commented on #122
I see, thanks for clarifying.

To implement this we'd have to look into how CatBoost is implementing the functionality and what methods they're using. If anyone has bandwidth, we'd welcome such a contribution.

[2020-05-09 22:47] kmedved commented on #122
Thanks Tony. I'll try to look into this; I apologize for opening this issue prematurely without a better understanding of what I was looking for. I'll close this issue for now. Thanks.

[2020-05-09 22:47] #122 closed

[2020-05-25 16:57] guyko81 opened #123 "Beta Bernoulli distribution"
I have tried to implement Beta Bernoulli but I can't seem to solve the problem The np.linalg.solve failed with singular matrix error. When I tried to solve with np.linalg.lstsq it basically never learnt after the first iteration.
I would be very happy if someone could help, I hope my differentiation wrt log(alpha) and log(beta) was correct.
There's an add-on package, as beta-binomial in scipy has

[2020-05-26 20:46] tonyduan commented on #123
Hi -- to make this easier to review would you mind making a PR?

[2020-05-27 08:40] guyko81 commented on #123
Created [#124 Beta distribution](https://github.com/stanfordmlgroup/ngboost/pull/124)

[2020-06-01 06:04] saianil58 opened #125 "Getting TypeError: '(slice(None, None, None), 0)' is an invalid key"
while using ngboost Regressor with kfold cross validation, getting the error,

Getting TypeError: '(slice(None, None, None), 0)' is an invalid key

This is due to not using the "iloc" while splitting the arrays in "ngboost.py" file.

I have fixed it at line numbers 101,126,127,238 and it solved the issue and working well.

[2020-06-01 13:21] #125 closed

[2020-06-01 13:24] saianil58 opened #127 "Support pandas dataframe as input along with numpy arrays"
hello,

It would be really useful if we can include pandas dataframe as input along with NumPy arrays as most of the developers use pandas dataframes by default.

[2020-06-02 05:53] stanpcf opened #130 "some benchmark with xgboost/lightgbm"
Hi, many thx for great work for boosting.
If it's better for ngboost, which have benchmark with other gbdts, such as xgboost/lightgbm. Such as [lightgbm experiments](https://lightgbm.readthedocs.io/en/latest/Experiments.html)

[2020-06-02 07:56] alejandroschuler commented on #130
Hi @stanpcf- some results of this kind can be found in [our paper](https://arxiv.org/abs/1910.03225).

However, I want to emphasize that ngboost is *not* a direct competitor with xgboost, lightgbm, etc. Those methods focus on standard (point) prediction, whereas ngboost is for *probabilistic* prediction. Ngboost can still be used for point prediction, but if point prediction is your only goal, oth

[2020-06-02 07:56] #130 closed

[2020-06-04 22:26] #127 closed

[2020-06-04 22:27] #119 closed

[2020-06-04 22:28] alejandroschuler commented on #94
@olkurinnoy just a heads up that this is now a feature we support! #129

[2020-06-04 22:32] #105 closed

[2020-06-04 22:33] alejandroschuler commented on #116
closing this for now but please reply if anyone is still having problems after installing the latest development version!

[2020-06-04 22:33] #116 closed

[2020-06-05 07:05] astrogilda opened #131 "AttributeError: 'Pipeline' object has no attribute 'pred_dist'"
Hey!

Let me begin by thanking y'all for a fantastic package!! I was wanting to use auto-ml (specifically, [tpot](https://epistasislab.github.io/tpot/api/)) for finding a good sklearn pipeline with ngboost as the final estimator, for a regression problem with one output variable. However, since the probabilistic prediction method is called 'pred_dist', which is not something sklearn supports, pyth

[2020-06-05 07:37] olkurinnoy commented on #94
@alejandroschuler Great news, thanks!!

[2020-06-06 18:33] alejandroschuler commented on #131
Hey @astrogilda, glad you like it :)

Unfortunately there's not much we can do from the NGBoost side to make things like this work. There isn't a unified API for probabilistic regression. I'd bring it up as an issue for the auto ML package you're trying to use and see if they're interesting in supporting your use case. Otherwise you'll have to hack it together yourself.

I'll close this for now bu

[2020-06-06 18:33] #131 closed

[2020-06-14 17:31] #123 closed

[2020-06-14 19:30] astrogilda opened #133 "Aleatoric v/s epistemic errors, + Error propagation"
Hey!

(1) Could you clarify if the 'sigma' that results from ngboost corresponds to the aleatoric, epistemic or their sum (i.e. sigma_ngboost = (sigma_epistemic**2 + sigma_aleatoric**2)**.5)? I have been reading about these two different types of errors, but am still not sure which is the one that's spit out by ngboost?

(2) If my independent variables (X) have associated uncertainties (say normal

[2020-06-14 20:45] alejandroschuler commented on #133
Hi @astrogilda, does #76 answer your question? Basically, NGBoost returns what it thinks is a model of how the world works. So if you observe a measurement of X=x, NGBoost is telling you the likelihood that Y takes a particular value y. That likelihood may or may not be accurate, because the model may or may not be correct. If you had refit the model using a slightly different dataset, the estimat

[2020-06-14 21:55] astrogilda commented on #133
Hey @alejandroschuler! Thanks for such a quick response.

Yes, #76 answers my question :)

And yes, that is PRECISELY what I am trying to get at. Do you have any suggestions/solutions?

[2020-06-14 22:16] astrogilda opened #134 "Mixture Density Networks with ngboost"
Hey @alejandroschuler! Is it possible to create an MDN with ngboost? That is combine multiple distributions (in the most general case, from different families) to predict the output of interest?

[2020-06-14 23:00] alejandroschuler commented on #133
No problem @astrogilda. I don't have any bootstrapping heuristics... I'd keep increasing it until your uncertainty estimates with additional bootstrap samples are changing less than you care about.

About your second question- if that's what you're trying to do, I don't think it's possible. You simply don't have enough information. My argument is as follows:

![Screen Shot 2020-06-14 at 3 59 57 PM

[2020-06-14 23:01] #133 closed

[2020-06-14 23:06] alejandroschuler commented on #134
Yes, in theory, but you would need to [create a new distribution class](https://stanfordmlgroup.github.io/ngboost/5-dev.html#Adding-Distributions) (e.g. ThreeNormalMixture, which would have three mean parameters and three variance parameters). It would be cool to have a class factory `mixture(Dist, K)` that generates the appropriate distribution class on-the-fly.  Honestly not sure off the top of

[2020-06-15 15:42] astrogilda commented on #133
Thanks for the quick response, again!

I understand your argument above. But how does one square this with data-augmentation in deep learning, where we basically make multiple copies of a given observations/sample, by repeatedly sampling from the noise distribution that we want to marginalize over? Intuitively, why wouldn't that approach work here as well?

[2020-06-15 15:58] alejandroschuler commented on #133
In the data augmentation setting, you have some "true" image/reality Z of which you receive a transformed version of (X) which is cropped, scaled, inverted, etc. It so happens that some of those transformations are invertible or composable, so you can take X and apply those transformations to arrive at other samples from P(X|Z) with the same label Y. The big difference between what you want to do

[2020-06-15 16:26] astrogilda commented on #133
Ah I see. So if I relax the requirement that I need P(Y|Z), by asserting
that we will never observe the true underlying distribution Z but only
corrupted samples of it (X), then can I augment my dataset the same way one
would do it in DL?

Best,
Sankalp Gilda

On Mon, Jun 15, 2020 at 11:58 AM Alejandro Schuler <notifications@github.com>
wrote:

[2020-06-15 16:58] alejandroschuler commented on #133
Yes, that's totally fine as long as you are sure that the two (original and augmented) "images" would still deterministically have the same "label".

[2020-06-16 16:21] astrogilda commented on #133
Perfect, thanks!

A follow up question--in DL, one doesn't technically just add corrupted copies of a sample to the training dataset, but instead in each iteration samples from the underlying noisy distribution (e.g. flipped version of an image in epoch 0, rotated by 20 deg in epoch 1, rotated by 40 deg in epoch 2, and so on). What would the equivalent of that approach be here? Or is there none, a

[2020-06-16 16:33] alejandroschuler commented on #133
There isn't functionality to do anything like that in ngboost, so you'd have to hack the codebase a little bit to get it to work like that. It is certainly possible. I'd introduce something like a "dataloader" that would generate a subsample of data at each boosting iteration. Would probably take a while to get used to the code and understand what you're doing so I'd guess not worth it for you unl

[2020-06-16 17:05] astrogilda commented on #133
That certainly looks like a non-trivial task. While I'd love to do things right, unfortunately I can't really get into it at the moment, on account of being tied up with a few other projects. Is there a hacky way to get 'close enough' answers? For instance, if I don't create a dataloader and load from it at every boosting iteration, but instead just add corrupted copies of an observation (since I

[2020-06-16 17:30] alejandroschuler commented on #133
Yes, just adding examples to the existing dataset would work fine, at the cost of having more data to handle and thus slower compute. But the computer's time is worth less than yours, so probably a good trade-off :)

Sure, let me try again. Let's say we're estimating the expected value of Y when X=4. To do that, I'm going to take my dataset, which consists of n samples of (x,y) and push it through

[2020-06-16 18:13] astrogilda commented on #133
Thanks for the indepth answer!

So please correct me if I am wrong, but haven't you simply described the process of bootstrapping? I am specifically curious about HOW to create the bags in bagging, given the fact that the input samples themselves have uncertainties. Though I wonder now, if this is even the correct way to approach this. Allow me to explain a bit more.

Aleatoric uncertainty is the

[2020-06-16 19:06] alejandroschuler commented on #133
I don't know if "aleatoric" vs "epistemic" uncertainty is the right way to look at this. I'm thinking concretely: as we've shown, data augmentation is just a thing we do to get a (presumably) better estimate of P(Y|X). As such, it's just part of a mapping from the data to the estimate of interest, and thus should be included within the bootstrapping loop with no special consideration.

[2020-06-19 00:12] D3F4LT4ST opened #135 "NGBoost fails to produce accurate predictions"
Hello,

I am relatively new to ML and recently came across this library when looking for models suited for probabilistic forecasting.

I have experimented with NGBoost on data from M5 Competition for quite a while, trying out various parameters but unfortunately wasn’t able to get any meaningful predictions out of it.

As displayed in the code below, even a single base learner was able to make far

[2020-06-19 02:13] alejandroschuler commented on #135
Hmm, I'm not sure exactly what the issue is. What is on the x-axis of that plot? Could you describe the data a little bit or is it a public dataset you could share, perhaps?

One thing I notice is that you're using `ngb = NGBRegressor(Base=DecisionTreeRegressor())`, which will let each tree grow as deep as it wants. Typically in boosting you constrain the depth of the trees to something small (<5,

[2020-06-19 18:20] D3F4LT4ST commented on #135
Thank you for your reply!
The dataset used was built from M5 Competition data. It has 1941 rows corresponding to 1941 days where each row contains the total unit sales for that day (y) and various features extracted from the provided calendar dataset. It is then split into training and validation sets such that the validation set contains the data for last 28 days. I have attached the dataset belo

[2020-06-19 21:38] D3F4LT4ST commented on #135
Follow-up: I was able to identify the cause of the issue. It appears that NGBoost expects the observations to be in standardized form, unlike other tree based models like LightGBM which handled the raw data really well. After performing the transformation I was able to get a pretty accurate forecast:
[code]
[code]
[code]
![ngboost_issue_plot_2](https://user-images.githubusercontent.com/22412544/85

[2020-06-19 22:56] guyko81 commented on #135
I replaced the distribution to LogNormal and it fit nicely.

model = ngb.NGBRegressor(Base=DecisionTreeRegressor(),
                        Dist=LogNormal)

[2020-06-19 23:24] D3F4LT4ST commented on #135
@guyko81
Thank you for the suggestion! It did indeed produce a nice forecast even without standardization. I'm still curious about what is going wrong when using Normal distribution.

[2020-06-20 09:56] guyko81 commented on #135
@D3F4LT4ST
Don't forget that at NGBoost the function that the model minimise is not a simple L2 norm but a loglikelihood, which has a shape that is defined by the original assumption.
I think as the actual distribution is closer to LogNormal the error around the actual prediction is asymmetric.
The first step in NGBoost is to find the marginal parameters. However given a mu and sigma parameter aft

[2020-06-22 20:33] #135 closed

[2020-06-24 13:03] hiyamgh opened #136 "Reproducing the plots in the paper"
Hello,

I cannot find the code that could help us reproduce the plots in the NGBoost paper, could you please add it ?

[2020-06-24 18:16] tonyduan commented on #136
You can find the relevant code in the [[figures/]](https://github.com/stanfordmlgroup/ngboost/tree/master/figures) directory.

I just pushed an update that ensures it's compatible with some of our recent API changes.

[2020-06-24 18:16] #136 closed

[2020-06-24 20:36] astrogilda opened #137 "Multioutput chained regression"
Hello,

My problem calls from prediction of two output labels. While I can do this by creating two independent models, my outputs are co-dependent, and I'd like to use the RegressorChain wrapper from sklearn--it uses the union of the prediction of the 1st model and the input features to predict and output of the 2nd model.

For point predictions using other models, it's trivial to do this exercise

[2020-06-24 20:47] alejandroschuler commented on #137
Interesting... I'd say it depends. If you think the estimated variance of the first outcome is useful in predicting the distribution of the second outcome, then you should append both to the input features for the second model. If you think the distribution of the second outcome depends only on the expected value of the first outcome, then you can safely use the `predict()` method to return just t

[2020-06-25 14:32] astrogilda commented on #137
Thanks for the quick and helpful response!

So the real reason I want to do this is for a downstream task of getting feature importances using SHAP. Right now, a few of the top features for label2 are present because they are also the top features for label1, and the two labels are correlated. Other than that, these features shouldn't physically have a lot of impace on label2. My hope is that if I

[2020-06-25 15:40] alejandroschuler commented on #137
Makes sense. May or may not work. You might also try including the actual labels for the first outcome as predictors for the second if all you're trying to do is understand the correlation structure. (Also remember that at the end of the day shapley values don't mean anything: https://arxiv.org/abs/1606.03490)

[2020-06-25 15:48] astrogilda commented on #137
Actually ended up working :) That paper is certainly interesting, and given
it has over 1200 citations, I bet quite important. I'll give it a read,
thanks for linking!

On Thu, Jun 25, 2020 at 11:40 AM Alejandro Schuler <notifications@github.com>
wrote:

[2020-06-25 17:05] #137 closed

[2020-06-25 17:53] hiyamgh opened #138 "Reproducing the plot with confidence intervals with multivariate data"
First, Thank you for this very awesome repository and the work done is indeed fantastic.

I want to assess the effectiveness of my probabilistic predictions with ngboost but my **data is multivariate**, more specifically, I have 19 columns as input variables and 1 column as the target variable. I want to produce a plot like follows:
![Screenshot (651)](https://user-images.githubusercontent.com/352

[2020-06-25 18:00] astrogilda opened #139 "What exactly is staged prediction?"
Can you please explain what it is?

[2020-06-25 18:10] astrogilda commented on #121
Hey quick question about this--shouldn't calibration be done on a different set than the test set? That is, shouldn't one calibrate on the validation set, and then use the calibration parameters derived there to fix predictions on the test set?

[2020-06-25 18:10] #139 closed

[2020-06-25 18:11] astrogilda commented on #139
NVM figured it out--catboost introduced it, helps in visualization.

[2020-06-25 18:42] tonyduan commented on #121
@astrogilda There appears to be overloading of the term "calibration". Maybe this will help clear things up:

1. Calibration is a property of a set of forecasts and corresponding ground truths. It can be evaluated on any dataset, whether it be from the train/val/test split.

2. In your definition of "calibration" I believe you're referring to "temperature scaling" or the like, which are methods to

[2020-06-25 18:49] astrogilda commented on #121
@tonyduan Yeah you nailed it, that's exactly what I was referring to. Though wouldn't calibrating on validation set be the only way to get calibrated outputs on test set in the wild?

Also could you expand on your last point please?

[2020-06-25 18:52] tonyduan commented on #121
@astrogilda See, for example, [[Guo et al. 2017]](https://arxiv.org/abs/1706.04599):

In my experience under-specified models (logistic regression, for example and low-complexity neural networks, as supported by the above reference) will tend to produce well-calibrated probabilities without need for post-hoc calibration.

[2020-06-25 19:19] astrogilda commented on #121
Ah I see. Actually, for a paper that I am writing right now, we are using ngboost for predictions, and we see a significant improvment in performance with post-hoc calibration; this should be on the arxiv in <1month, and I'd be happy to post the appropriate plots here.

[2020-06-25 19:19] tonyduan commented on #138
@hiyamgh Our toy example was on univariate data (one feature), so it's straightforward to plot points (x, y) onto a 2D plane. In general (to my knowledge) it's not obvious how to visualize multi-dimensional regression when x has dimension greater than 2. Something you could try is PCA or t-SNE on the multi-dimensional features to reduce dimensionality of x before visualization to 2D, then make a 3

[2020-06-27 13:46] hiyamgh opened #140 "Difference between n_estimators and number of boosting iterations M"
Hello,

Can someone please explain the difference between the parameter ```n_estimators``` and the number of Boosting Iterations (referred to in the paper as ```M```) that you were trying to tune in the experiments [here](https://github.com/stanfordmlgroup/ngboost/blob/master/examples/experiments/regression_exp.py)

In the documentation:
[code]
and with regards to ```M``` its defined in the paper

[2020-06-28 07:44] hiyamgh commented on #139
Hello,

I hope you can share with us your thoughts. I came up with the following:

- one of ngboost's parameters is called **n_estimators**. This denotes the number of boosting iterations to fit. Lets say this number is 2000 (the default is 500 in ngboost, but in the experimentation sections, they used 2000)
- in **staged prediction**, we will have 2000 point predictions. Usually if we are doing p

[2020-06-28 08:09] tonyduan commented on #140
It's true that `n_estimators` in the code corresponds to _M_ in the paper, as you have written.

Moreover it's also true that in our experiments we set _M_ by picking the best `val_nll` on a validation set, and concretely this is assigned to the variable `best_itr`. This was designed to match the methodology of prior works. However, I want to make it clear that this methodology is just one possibl

[2020-06-28 08:09] #140 closed

[2020-06-28 08:11] tonyduan commented on #139
@hiyamgh Yes this understanding of `staged_prediction` is correct.

I would emphasize that if you're going to tune the hyper-parameter _M_ by using staged prediction in this manner, then you should calculate performance on a **held-out validation set** as opposed to re-using training set.

[2020-06-29 12:49] hiyamgh opened #141 "NLL by MC dropout in comparison to NGBoost's NLL"
Hello,

I am trying to reproduce similar experiments to the one conducted by NGBoost's paper, whereby I want to compare the results by NGBoost to those by MC Dropout, Deep Ensembles, etc.

I know very well the formula used for computing negative log likelihood for NGBoost is as follows:
[code]

However, the ```log likelihood``` defined by [MC dropout paper](https://arxiv.org/pdf/1506.02142.pdf) is

[2020-06-29 13:38] astrogilda commented on #141
If I understand correctly, MC dropout is used to obtain epistemic
uncertainty, while NGBoost outputs aleatoric unc. So the two can't be
directly compared.

On Mon, Jun 29, 2020 at 8:49 AM Hiyam Ghannam <notifications@github.com>
wrote:

[2020-06-29 13:40] hiyamgh commented on #141
@astrogilda  do you know then how can we compare NGB NLL to MC Dropout NLL ? Similarly Concrete Droput ?

[2020-06-29 13:44] astrogilda commented on #141
Unfortunately I don't. AFAIK Concrete Dropout is also a way to bootstrap
(just like MC Dropout), and hence calculates a diff. type of uncertainty
than NGB. Let's wait to hear from one of the developers.

[2020-06-29 18:14] hiyamgh commented on #141
@tonyduan could you please help. Thank you so much in advance.

[2020-06-29 18:25] tonyduan commented on #141
NGBoost attempts to predict aleatoric uncertainty i.e. the variance in p(y|x;θ) through regression from covariates x. MC dropout attempts to predict epistemic uncertainty i.e. uncertainty in the parameters θ through Monte Carlo samples.

So you wouldn't expect them to obtain predictive uncertainty in the same way. Use the NGBoost code to calculate log-likelihood of data under predictions from NGBo

[2020-06-29 19:35] #141 closed

[2020-06-30 20:54] omsuchak opened #142 "Incorporate a use_missing argument"
First, This is a lovely framework!

One suggestion: It would be very useful to expand the framework to accept sparse data/missing data items. LightGBM has incorporated this in their [use_missing](https://lightgbm.readthedocs.io/en/latest/Advanced-Topics.html) argument.

[2020-06-30 21:13] alejandroschuler commented on #142
Hey @omsuchak, thanks for the suggestion. There is no one "natural" or good way to generically handle missing data. If ngboost were to do this for you, we would be making a number of choices behind the scenes that would be obscured from the user.

If we limited ourselves to use cases where the base learner is a regression tree (like we do with the feature importances) there are some reasonable def

[2020-06-30 21:13] #142 closed

[2020-06-30 21:17] alejandroschuler commented on #142
As a practical note that might help you- it's typically hard to beat some sort of imputation (e.g. column mean) + adding a missingness indicator feature per column. `sklearn` [makes it easy](https://scikit-learn.org/stable/modules/generated/sklearn.impute.MissingIndicator.html). I'd recommend handling missing data in your feature matrix upfront as a pre-processing step using those tools before pas

[2020-07-05 01:30] astrogilda opened #144 "beta distribution"
Hey! Is there any plan to introduce beta distribution with ngboost? For a problem I am dealing with, the single output variable of interest is clearly beta-distributed, and so far I've been using power transform from sklearn to convert it into gaussian, but I was wondering if there was a way to bypass this and natively deal with such a variable.

[2020-07-06 17:19] alejandroschuler commented on #144
At this point, ngboost is fully "in the wild" and we have no plans to develop any particular features as far as I know. Adding new distributions, however, is something that we encourage the community to do and we provide [specific support](https://stanfordmlgroup.github.io/ngboost/5-dev.html) for that in the user guide (of course anyone is welcome to develop other kinds of features too, but they w

[2020-07-06 17:21] Sattyi opened #145 "Import error for NGBoost"
While importing NGBoost, getting below error.

`**from ngboost import NGBRegressor**`

Traceback (most recent call last):

  File "/home/satish_agarwal/.local/lib/python3.5/site-packages/IPython/core/interactiveshell.py", line 3326, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)

  File "<ipython-input-1-92fcbd405ac3>", line 1, in <module>
    from ngboost import NGBRegressor

[2020-07-06 17:27] alejandroschuler commented on #145
This doesn't list what the error was.

[2020-07-06 17:28] alejandroschuler commented on #145
https://stackoverflow.com/help/minimal-reproducible-example

[2020-07-06 21:12] astrogilda commented on #144
Understood!

[2020-07-06 21:39] astrogilda opened #146 "Linear approximation for stacked ngboost models"
Hey! So I want to achieve two goals, using two sep methods:
(i) Use multiple ngboost models (trained on different pre-processed data) and output corresponding `mus` and `sigmas`. Say I use 5 models, resulting in 5 `mus` and 5 `sigmas` for all samples in the training set. I want to use just the 5 `mus` as features for a meta-learner, for which I am thinking of using yet another ngboost model since

[2020-07-06 22:12] #144 closed

[2020-07-06 22:20] alejandroschuler commented on #146
Hmm, really not sure...

Before doing anything I would make sure that adding the meta-learning actually meaningfully improves your performance by whatever metric you're using, otherwise all the rest of this is frosting on a rube goldberg machine.

As I've mentioned here and there in the past- I'm usually pretty wary of "interpreting" these models... I'd keep the final goal in mind and think carefu

[2020-07-07 04:05] Sattyi commented on #145
Hi,
I understood MRE...below is the details:

### **Ran the below code:**

[code]

After running the code, getting the below system generated message and error.

Defaulting to user installation because normal site-packages is not writeable
Collecting git+https://github.com/stanfordmlgroup/ngboost.git
  Cloning https://github.com/stanfordmlgroup/ngboost.git to /tmp/pip-req-build-g788_72r
  Running

[2020-07-07 05:24] tonyduan commented on #145
Can you confirm what version of Python you're running? We require 3.6+.

[2020-07-07 17:10] Sattyi commented on #145
It's Python 3.5.3.
Can I run on Python 3.7?

[2020-07-07 17:14] Sattyi commented on #145
Yes, error not coming in Python 3.7. Thanks!

[2020-07-09 17:59] astrogilda opened #147 "Combining bagging with ngboost"
Hey @alejandroschuler!

In #76 you recommend that to obtain uncertainties on uncertanties (i.e. epistemic uncertainties), one could employ bagging. So for  a sample if I have `mu` and `sigma` from ngboost, and I'd like to find `sigma_on_mu`, `sigma_on_lower` and `sigma_on_upper`, I'd have to create `B` separate bootstrapped-bags, and combine their results. Specifically, you recommend training ngbo

[2020-07-09 19:57] #145 closed

[2020-07-10 20:51] ryan-wolbeck opened #149 "ngboost.readthedocs.io"
Hello,
I thought it would be helpful to the package to have a page on readthedocs.io. The main reason I think it's a good idea is to get some kind of docs related to the api up similar to [https://xgboost.readthedocs.io/en/latest/python/python_api.html](this). The scaffold can be created using [https://docs.readthedocs.io/en/latest/intro/getting-started-with-sphinx.html](Sphinx). This would create

[2020-07-10 22:20] anpatton opened #150 "NGBoosted Ridge"
Hi all - this is probably a totally fundamental misunderstanding of how NGBoost works (wouldn't be the first time), but I thought I'd ask anyway. If I use Ridge as the base learner, is there any way of extracting information about the coefficients from the fitted NGBoost object? The gross oversimplification would be `.coef_`. Thanks for putting up with my questions.

[2020-07-10 22:27] avati commented on #150
Hi @anpatton - note that Ridge (or Lasso, or any other linear model) is not a great idea to be used as base learner with boosting techniques (not just NGBoost). That's because boosting combines the models in an additive manner, and if the base learner is linear, you still end up with a "simple" linear model that can be represented by just one set of coefficients. More technically: gradient boostin

[2020-07-10 22:33] anpatton commented on #150
Ah yeah, that makes sense. Much appreciated.

On Fri, Jul 10, 2020 at 3:27 PM Anand Avati <notifications@github.com>
wrote:

[2020-07-10 22:58] avati commented on #150
Closing for now

[2020-07-10 22:58] #150 closed

[2020-07-13 01:05] alejandroschuler commented on #138
@hiyamgh also wanted to note that the bands that are shown in the plot are [prediction intervals, not confidence intervals](https://towardsdatascience.com/interpreting-the-probabilistic-predictions-from-ngboost-868d6f3770b2).

[2020-07-13 01:05] #138 closed

[2020-07-13 01:09] alejandroschuler commented on #147
The "benefits" of bagging that you are talking about are what you gain from using bootstrap methods to improve prediction via ensembling. My suggestion was to use the bootstrap for its original intended purpose, which is to estimate the variability that comes from sampling data. The point isn't to get better predictions, so it doesn't matter if the learners are weak or strong or correlated or what

[2020-07-13 01:09] #147 closed

[2020-07-13 01:26] alejandroschuler commented on #149
Hi @ryan-wolbeck, thanks for the suggestion and for offering to expand the docs! Right now the only "docs" are what's in the [user guide](https://stanfordmlgroup.github.io/ngboost/intro.html) and what's in the docstrings for the user-facing constructors and methods in the package.

Is your thought that these two sources aren't formal enough in their description of the API? My impression is that us

[2020-07-13 16:17] ryan-wolbeck commented on #149
Hey @alejandroschuler,
Yeah I think to the casual user the documentation and just he user guide is sufficient but if you'd like to look at say what the base default learner is you have to dig to get there i.e. here : https://github.com/stanfordmlgroup/ngboost/blob/master/ngboost/learners.py
Or to figure out what the defaults are when you call things like NGBRegressor you have to filter through htt

[2020-07-13 17:32] alejandroschuler commented on #149
@ryan-wolbeck well put! I'll try to do some digging and get things set up in a way that makes sense. Might have something by the weekend but in case I don't please feel free to start some docs as .md or whatever you like and we can transfer them over once the infrastructure is ready. And, of course, please feel free to make PRs that edit/improve the docstrings as well.

[2020-07-13 17:35] alejandroschuler commented on #81
@JMBurley @isaacanthony @paulbutera see #143 ! If any of you are willing to provide a review for that PR I'd appreciate another set of eyes.

[2020-07-15 03:57] alejandroschuler commented on #147
Relevant paper implementing exactly this idea (and an enhancement): https://arxiv.org/pdf/2006.10562.pdf

[2020-07-15 04:16] astrogilda commented on #147
Fantastic! Reading it now :)

[2020-07-15 04:27] astrogilda commented on #147
pity they haven't made their code opensource.

[2020-07-16 21:08] ryan-wolbeck opened #152 "Error Pickling"
Hey @alejandroschuler,
I'm getting a weird issue when trying to pickle within a docker container.
[code]

My code to get this is:

[code]

Could very well be something I'm doing but I'm a bit lost since it looks like the pattern in the jupyter docs.

Thanks,
Ryan

[2020-07-17 14:39] ryan-wolbeck commented on #152
Also made an attempt at using joblib instead.
[code]

Result
[code]

[2020-07-17 15:01] alejandroschuler commented on #152
Interesting... are you using the most recent development version from github?

[2020-07-17 15:02] ryan-wolbeck commented on #152
@alejandroschuler I'm pip installing ngboost==0.2.0

[2020-07-17 15:10] ryan-wolbeck commented on #152
@alejandroschuler changed my requirements.txt to
[code]
and it seems to work

[2020-07-17 16:10] alejandroschuler commented on #152
Yeah, the pickling thing was a bug that only got fixed in the most recent version that hasn't been added to pip.

tbh I'm a statistician and not a software engineer so a lot of things about the ngboost codebase and development pipeline could use some help. Is there not a way to install a specific version from github? Or would we need to add version tags or something in git? If you're interested an

[2020-07-17 17:15] ryan-wolbeck commented on #152
Yeah I think pushing a new version out is probably appropriate. The last one was Feb 9th for 0.2.0 and I think most people wouldn't install via cloning git on package like this. I'd be happy to help dig in on this further, I'm not a SE either (Data Scientist) however I do about 90% engineering for my professional roles so I think I could bring some value to the team.

[2020-07-17 23:43] tonyduan commented on #152
Thanks for pointing this out. I've just pushed v0.2.1 to PyPI.

I agree that the current workflow isn't ideal (I need to manually bump the version number and upload to PyPI at the moment). Happy to take any suggestions etc.

[2020-07-18 03:18] ryan-wolbeck commented on #152
@tonyduan I ran with 0.2.1 with no issues, thanks for the update!

[2020-07-18 19:15] yang911113 opened #154 "About the regression problem using NGBoost"
Hello professors,
Recently, I try to use NGBoost to do house price prediction. But the result seems to be weird, it only slightly floats in a certain value.
When I try to use another database, the result is still weird.
eg:
pred: 206223.15351660148 label: 122500.0
pred: 206220.01918655884 label: 87200.0
pred: 206220.01918655884 label: 71000.0
pred: 206219.86433928832 label: 103400.0
pred: 206219.5

[2020-07-18 19:42] alejandroschuler commented on #154
Hmm, hard to know without further details. Can you share the dataset and your code?

[2020-07-18 20:45] yang911113 commented on #154
Thank you so much for your reply!!! Seems it's a little hard to share files here, I will send the dataset and code to your email(alejandro.schuler@gmail.com).

Thanks again for your help!

[2020-07-19 00:24] guyko81 commented on #154
Can you try LogNormal distribution? (* I'm not in the development team at all, just a fan)

from ngboost.distns import LogNormal
model = NGBRegressor(Dist=LogNormal)
model.fit(X, y)

[2020-07-20 00:06] #152 closed

[2020-07-20 14:03] ryan-wolbeck opened #155 "add a github release for 0.2.1"
Hey guys,
I'd suggest adding a release for the current version in pypi to the github releases
https://docs.github.com/en/github/administering-a-repository/managing-releases-in-a-reposito
This would allow to track commits with the release tag so it's easy to see what code leads up to the release on pypi
Thanks,
Ryan

[2020-07-20 15:09] ryan-wolbeck commented on #41
Hey @alejandroschuler did these links move somewhere else?

[2020-07-20 17:47] alejandroschuler commented on #41
@ryan-wolbeck good question- both the vignette and developer guide were rolled into the one-stop-shop user guide, so neither exist anymore.

[2020-07-21 11:42] vmgustavo opened #156 "Is there support for multicore processing?"
During executions I see a single core going up to 100% usage, is by default single core? If not how to use multiple jobs?

[2020-07-21 15:27] alejandroschuler commented on #156
ngboost, like other boosting algorithms, does not lend itself to parallelization. There is no parallel capability at this time and I'm not sure how it would ever be. We could send different base learners to different nodes at each boosting iteration, but that would only speed up multiparameter distributions. I think xgboost has some parallelization but they acheive that with some low-level hacking

[2020-07-21 15:27] #156 closed

[2020-07-21 16:27] kmedved commented on #156
To add to what @alejandroschuler said, `Xgboost`, `LightGBM`, and Sklearn's `HistGradientBoostingClassifier `are all multiprocessed in some ways, but this is a marginal speedup at best on those libraries, and is actually leads to major slowdowns eventually, depending on the number of cores and the dimensionality of your data. Here's a useful Kaggle thread on this: https://www.kaggle.com/c/microsof

[2020-07-21 17:06] yang911113 commented on #154
Hi, Seems the result gets better when I use other distribution types, thanks for your suggestion!

[2020-07-22 07:42] tonyduan commented on #155
Thanks for the suggestion. I just created a new branch v0.2.1 and released it; this code reflects what's on PyPI.

I'm new to this so not 100% certain I've got everything right. If you have any further suggestions please do let us know!

[2020-07-22 07:42] #155 closed

[2020-07-22 13:52] ryan-wolbeck commented on #155
@tonyduan looks good

[2020-07-22 16:14] ryan-wolbeck commented on #154
Closing as this seems to be resolved

[2020-07-22 16:14] #154 closed

[2020-07-22 16:25] ryan-wolbeck commented on #87
@alejandroschuler I think this usually occurs when the value doesn't fit in the default numpy float64 which makes sense with an exponential. I don't think this will cause any issue other than the annoying warnings

[2020-07-23 13:22] guyko81 opened #157 "Using k_categorical NGBClassifier as survival model"
Hi,

I was thinking about a "kernel-ish" method for survival analysis, where we don't have an assumption about the shape of the survival curve. If the possible outcome time is integer and limited (in possible outcomes) it can be thought of as a simple multiclass classification but with censored data.
Would it be legit to update the k_categorical NGBClassifier distribution to be used for right-cens

[2020-07-23 18:01] alejandroschuler commented on #157
You certainly can do something like that. I recommend reading [this](https://data.princeton.edu/wws509/notes/c7.pdf), paying particular attention to the last section on discrete-time survival analysis. It's well-wroth the investment to read it cover-to-cover, though.

If you're saying the categorical probabilities represent the discrete-time hazards, and `self.probs` is `k * n`, then I think the N

[2020-07-23 20:41] guyko81 commented on #157
Thanks a lot! The book is very good!

[2020-07-23 23:35] timothyb0912 opened #158 "Using NGBoost for GAMs"
Hi there, thanks so much for putting this package together!

I want to use NGBoost to implement a generalized additive model. For example, I want to implement a model where the natural parameters of a given conditional distribution is given by `f(x_1) + g(x_2) + h(x_1, x_2)`, where x_1 and x_2 are sets of features.

My desired approach would be to fit boosted tree ensembles for each of the natural

[2020-07-23 23:49] avati commented on #158
Hi @timothyb0912 , you probably want to have a look straight at the core of the package - ngboost.py to see how you could do something like backfitting in the boosting framework. I imagine you could try to hide/mask features in each boosting stage in a particular pattern and also achieve similar algorithm as you describe?

[2020-07-23 23:57] alejandroschuler commented on #158
Interesting idea @timothyb0912 ... I like @avati's suggestion of alternatively masking features as you go along. Would probably be the easiest thing to hack together given what we've got.

[2020-07-24 01:41] alejandroschuler commented on #146
closing for now but feel free to keep the convo going if you have other questions

[2020-07-24 01:41] #146 closed

[2020-07-24 02:08] #87 closed

[2020-07-27 18:12] ishitadaga opened #159 "Using other regressors"
I am new to ngboost, and was trying to use KNeighborsRegressor as my base learner, but it gives me this error:  `TypeError: fit() got an unexpected keyword argument 'sample_weight'`.
How do I solve this, and also what all other base regressors can I use other than DecisionTreeRegressor.

[2020-07-27 18:31] ryan-wolbeck commented on #159
@ishitadaga sample_weight isn't a parameter for KNeighborsRegressor, see the docs here: https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsRegressor.html#sklearn.neighbors.KNeighborsRegressor.fit Generally ngboost can use any of the base models in sklearn, you'll need to setup params specific to the base model you'd like to try.  Sklearn base models : https://scikit-lear

[2020-07-27 18:42] alejandroschuler commented on #159
@ishitadaga I would consider asking the sklearn people to implement `sample_weight` for knn regression. It should be trivial to take a weighted average of outcomes among the nearest neighbors instead of an unweighted average. Or to make a neighbor with weight 5 count as all 5 neighbors, etc. I'm sure others have thought about this.

[2020-07-29 15:42] #159 closed

[2020-07-30 18:34] RSChegani opened #160 "Using CRPS score"
Hey,
I tried to use CRPS score by importing it and passing it to ngboost:
`from ngboost import NGBRegressor
from ngboost.distns import LogNormal, Normal
from ngboost.scores import CRPS, MLE

xgb = XGBRegressor(**param_set)
model = NGBRegressor(Base=xgb, learning_rate=0.1, verbose_eval=5, n_estimators=30, Dist=LogNormal, Score=CRPS())`

but I got an error. After a bit of digging I saw that the CRPS

[2020-07-30 18:38] tonyduan commented on #160
1. Actually I think you should replace the line with the following, see if it works:
[code]

2. The implementation of the score is specific to the distribution you're modeling with. So in your case it's in the implementation of [[lognormal.py]](https://github.com/stanfordmlgroup/ngboost/blob/master/ngboost/distns/lognormal.py).

[2020-07-30 18:51] RSChegani commented on #160
Thanks @tonyduan for your quick reply.
I'm still getting the following error:
----------------------------
TypeErrorTraceback (most recent call last)
<ipython-input-88-47f0e2916e5f> in <module>
      6 xgb = XGBRegressor(**param_set)
      7 model = NGBRegressor(Base=xgb, learning_rate=0.1, verbose_eval=5, n_estimators=30,Dist=LogNormal, Score=CRPS)
----> 8 model.fit(main_db[features], main_db[tar

[2020-07-31 06:59] tonyduan commented on #160
@RSChegani Would you mind upgrading to v0.2.1, or to the GitHub master branch by running the following?
[code]
Looks to me like this was a bug that was fixed in [[this commit]](https://github.com/stanfordmlgroup/ngboost/commit/f16fbd2324e9fc67a7a1be20375e114da001115e). Let us know if that works!

[2020-07-31 14:23] #157 closed

[2020-07-31 16:41] RSChegani commented on #160
Thanks, @tonyduan I updated it, and it's working

[2020-07-31 16:45] ryan-wolbeck commented on #160
Glad you got it working @RSChegani closing this

[2020-07-31 16:45] #160 closed

[2020-08-01 17:58] fabDav22 opened #161 "Question on derivatives for scoring functions"
Hello,

First, thank you for putting this package together. The methodology is a very interesting extension of the GAMLSS framework to ML and I am looking forward to using this package for applications where probabilistic predictions are desired.

In reviewing the distributional implementations with the purpose of potentially adding a distribution myself, I noticed that the derivative of the logsc

[2020-08-03 10:01] matthiasschuurmans opened #162 "Question on Normal Distribution with large target"
Hi, thanks a lot for this package! I'm a great fan of boosters, and this package was just what I needed to enable some next steps in projects I'm working on.

I've been playing around with it on my data, and found that the Normal Distribution becomes a poor fit on datasets where the target is large, and am hoping to better understand why this happens. My target varies between 0 and ~50k. Some expe

[2020-08-03 16:01] avati commented on #162
Hi @matthiasschuurmans , this sounds strange, and I might have heard about a similar issue from another user. Could you please share the data/code that results in the poor fit and create the plot? I can have a look at it.

[2020-08-03 17:22] matthiasschuurmans commented on #162
Hi @avati , thanks for looking into it. I placed the code in the issue, but just to be sure here it is as well. Please note the `Y *= 1000` that results in the bad fit, if you comment it out you get the second plot.

[code]

[2020-08-03 17:25] alejandroschuler commented on #162
(for posterity: similar issues noted in #154 and #135)

[2020-08-03 17:42] avati commented on #162
thanks @matthiasschuurmans , i see your code now in the original post as well (somehow it didn't make it to the email notification). I'll have a look and post any updates.

[2020-08-03 17:59] alejandroschuler commented on #161
Thanks for the great question and excellent exposition @fabDav22!

The reason that we parametrize the normal in terms of `log(scale)` instead of `scale` is that gradient descent does not respect the domain of the parameters. `scale` represents the standard deviation of the normal distribution, which we know must be positive. But if we used `scale` as the parameter internally, it is possible that a

[2020-08-03 18:43] alejandroschuler commented on #161
Hopefully this addresses the question so I'll close for now but feel free to keep the conversation going here.

[2020-08-03 18:43] #161 closed

[2020-08-04 22:25] #162 closed

[2020-08-05 00:45] ryan-wolbeck commented on #162
@matthiasschuurmans this should be fixed if you adjust your version number to 0.2.2

[2020-08-05 07:02] matthiasschuurmans commented on #162
Thanks a lot folks, indeed it is fixed after upgrading to 0.2.3 from the PR.

[2020-08-06 18:52] jagatsesh opened #164 "Error in installation"
Hi

I was trying to install NGboost over python2.7. I have faced the following issue:

[code]

Can you please help me with it? I have scipy 1.2.3 installed.

Thanks
Jagat

[2020-08-06 20:15] ryan-wolbeck commented on #164
@jagatsesh I'm thinking you'll have to use something like python 3.6, we should also have this explicit in the setup.py to check version (which I can do). I'll keep this open incase any of the other guys have a different suggestion. I just checked by building a new environment with 3.6 and didn't have this issue.

[2020-08-06 20:17] jagatsesh commented on #164
Thank you for your reply.

Yes, I wil upgrade my modules to python 3.6+ very soon. And then let you know.

Jagat

--
Jagat Sesh Challa, Ph.D.
Postdoctoral ​Researcher
C​enter for Ultra-Scale Computing and Information Security
​Electrical and Computer Engineering Department
McCormick School of Engineering
Northwestern University, Evanston, IL

[2020-08-06 20:18] ryan-wolbeck commented on #164
@jagatsesh thanks for pointing this out, I'll update the setup.py here shortly. It will make that more clear on install. I'm going to keep this issue open until that PR goes through

[2020-08-07 18:34] #164 closed

[2020-08-10 05:11] anchalkhare opened #166 "Question : Regarding point estimates"
Hi Team,

Thank you for this implementation.

Posting my question here : Why is there NA in RMSE outputs(8.94 ± NA) for Year MSD dataset for NGBoost model?

[2020-08-10 06:39] tonyduan commented on #166
We follow the experimental procedure of

The NA arises because the Year MSD dataset only uses a single train-test split.

[2020-08-10 08:04] anchalkhare commented on #166
Thank you for your response Tony. I have read somewhere that CV is used during training but also wanted to confirm. Is cross-validation also used for probability estimates?

[2020-08-10 08:23] tonyduan commented on #166
Cross-validation is used to define the train/test splits that are reported in the experiments. Note that this is slightly different compared to the traditional cross-validation setting because we are not using it to select hyper-parameters.

You can view the code for the experiments, including the cross-validation step, [[in this file]](examples/experiments/regression_exp.py).

[2020-08-10 08:29] anchalkhare commented on #166
Gotcha. Code will certainly help me better understand training on multiple folds.

[2020-08-10 14:10] #166 closed

[2020-08-10 15:07] gerileka opened #167 "NGBoost Algorithm problem with shap.TreeExplainer"
"""
Trying the new library for probabilistic regression and classifcation.
Minor problems when using the Shap explainer

"""

#### SHAP plot for loc tree
import shap
shap.initjs()
explainer = shap.TreeExplainer(ngb, X, model_output=0)
shap_values = explainer.shap_values(X)
shap.dependence_plot(0, shap_values, X)

### Gives the following Error

------------------------------------------------------

[2020-08-10 16:13] ryan-wolbeck commented on #167
@gerileka My guess is the base learner you used isn't compatible. Can you share what that learner is?

[2020-08-10 16:20] gerileka commented on #167
@ryan-wolbeck hi, thank you for your interests. I used the stock version from the user guide website, without change.

### This is my full code

from ngboost import NGBRegressor

from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

X, Y = load_boston(True)
X_train, X_test, Y_train, Y_test = train_test_split(X,

[2020-08-10 16:35] ryan-wolbeck commented on #167
I spun up a colab notebook and was able to run it without error:
![image](https://user-images.githubusercontent.com/41489316/89807057-9cc5a100-dafd-11ea-810c-0729f260f1a7.png)

[2020-08-10 21:14] tonyduan commented on #166
@anchalkhare Whoops, not sure what happened there, here's the link
https://github.com/stanfordmlgroup/ngboost/issues/166#issuecomment-671227449

[2020-08-12 12:44] gerileka commented on #167
@ryan-wolbeck Thank you. I tried as well and I think that is my version of shap. Installed it like last year, maybe I need an update on the library.

[2020-08-12 13:16] #167 closed

[2020-08-12 22:00] maximilianpfau opened #168 "Probelms with the output for regression with LogNormal"
Dear @alejandroschuler !

Thank you for the **ngboost** and you time earlier today.

Unfortunately, the output of regression with a LogNormal distribution appears to be incorrect.

[https://colab.research.google.com/drive/1qr1l6h0NrD5PGYfF-FtiTnojb_FKEFAZ?usp=sharing](https://colab.research.google.com/drive/1qr1l6h0NrD5PGYfF-FtiTnojb_FKEFAZ?usp=sharing)

Specifically:
Error 1: Retrival of the shap

[2020-08-13 21:03] alejandroschuler commented on #168
Thanks for the question and the clear demonstration of the issue!

I looked into this and it turns out this is actually the intended behavior! The problem is that you are accessing the parameter values directly from the predicted distributions instead of from the provided dictionary. In other words, if you want the scale parameter `s` for the first 10 observations you should do `Y_dists[0:10].para

[2020-08-14 19:08] ryan-wolbeck commented on #168
@alejandroschuler I really like the idea of doing your first suggestion, it would then follow [PEP 8](https://pep8.org/#descriptive-naming-styles). I don't really have an opinion on the second piece.

[2020-08-15 00:40] maximilianpfau commented on #168
Thank you for the help!

[2020-08-17 09:25] mdjabc opened #169 "How to represent the output of a non-probabilistic predictive model"
Hi! How to represent the output of a non-probabilistic predictive model? If F(x) = Σf(x). f(x) is the Base learne. In the paper, we can know the output of probabilistic predictiion.

[2020-08-17 13:54] ryan-wolbeck commented on #120
bump @olegmyrk

[2020-08-17 16:20] avati commented on #169
I don't think I completely understood your question. In NGBoost we don't require the base learners to be probabilistic. Could you have a more specific example?

[2020-08-18 00:39] mdjabc commented on #169
Sorry! In the paper: NGBoost: Natural Gradient Boosting for Probabilistic Prediction, the output of a probabilistic prediction can be represented by the Eq: y/x~P(x) θ=θ-ηΣρ*f(x). However, we don't know the output of non-probabilistic predictive output. For example, in a Classification task, can we use Eq:F(x) = Σf(x) to represent the output? The Base learner f(x) is trained based on  input featur

[2020-08-18 17:17] alejandroschuler commented on #169
To extract a point prediction from the probabilistic prediction we just take the expectation of y|x ~ P(θ(x)). I.e. the prediction is ŷ = E[y|x]. The model is still trained to create a probabilistic prediction, the point prediction is then extracted from that. Not totally sure if that's what you're asking, but if so then that's the answer.

[2020-08-18 17:25] kdlin opened #170 "Categorical features?"
Do categorical features require special treatment?

[2020-08-18 17:42] alejandroschuler commented on #170
In its most generic form, NGBoost takes as its input a numerical matrix of predictors. Categorical features should therefore be represented by one-hot encoded or dummy variables.

If you pass in a raw pandas dataframe, we use the [pre-processing from sklearn](https://scikit-learn.org/stable/modules/generated/sklearn.utils.check_array.html) to transform that into a numeric matrix (see #129). That p

[2020-08-18 17:43] #170 closed

[2020-08-18 17:46] #81 closed

[2020-08-18 17:48] #158 closed

[2020-08-18 17:51] alejandroschuler commented on #168
@ryan-wolbeck are you interested in taking this on?

[2020-08-18 17:54] alejandroschuler opened #171 "Switch out flake8 for pylint in GH actions, add pytype"
Good linting and type annotations can catch a lot of bugs even without unit tests. We should use `pylint` and `pytype` in our continuous integration workflow to do this.

[2020-08-18 17:55] alejandroschuler commented on #171
This will also involve adding type annotations and documentation to the internals of the codebase.

[2020-08-19 14:48] ryan-wolbeck commented on #168
@alejandroschuler yeah I can do this, not sure when I'll get to it but I'll put it on the backlog

[2020-08-19 18:33] tonyduan commented on #168
Thank you @ryan-wolbeck!

[2020-08-19 21:16] henriqueluzz opened #172 "Problems using other base learners other than DecisionTreeRegressor"
Hello,

I'm trying to use others base learners other than scikit-learn DecisionTreeRegressor(), I tried RandomForestRegressor() and GradientTreeRegressor(), since as far as I understood the base regressor doesn't need to be probabilistic.

Both of them when I fit the model, the training hangs forever and doesn't output any messages.
Not sure if I'm missing something from the ngboost fundamentals o

[2020-08-19 21:19] ryan-wolbeck commented on #172
@henriqueluzz Whats the shape of your input dataframe? Also would like to see what regressor_params to set to?

[2020-08-19 21:23] henriqueluzz commented on #172
@ryan-wolbeck
The params dict
[code]
X_train_full has (370410, 31) shape

[2020-08-19 21:32] ryan-wolbeck commented on #172
@henriqueluzz

I think it's probably running fine but with those params I'm guessing that it's taking a long time for each iteration, that learning rate is pretty small, n_estimators is really high and the depth is pretty substantial given your sample. I would loosen those parameters  and set verbose eval to a lower number than the default 100
https://github.com/stanfordmlgroup/ngboost/blob/e1a95a

[2020-08-19 21:43] alejandroschuler commented on #172
Yeah I agree- your data is pretty big and running with depth=18 is pretty crazy. Typically depth <5 is used in boosting. Using full-fledged models like random forests as base learners is theoretically possible but not necessarily advisable. It will take a long time to fit each boosting stage and the result may not necessarily be much better, if it is better at all.

[2020-08-19 22:09] henriqueluzz commented on #172
I will loosen the parameters and give it a try, although these hyperparams came from a LightGBM regression model using the same data that ran an extensive hyperparameter search using hyperopt.
But that doesn't guarantee to be suitable for other boosting implementations.

Thanks for the responses, will update since I get the results

[2020-08-20 16:39] #172 closed

[2020-08-20 16:39] ryan-wolbeck commented on #169
@mdjabc does this answer your question?

[2020-08-20 16:41] ryan-wolbeck commented on #70
Updated link to the dev guide https://stanfordmlgroup.github.io/ngboost/5-dev.html

[2020-08-20 18:55] kmedved commented on #70
Thanks @ryan-wolbeck. This remains something I'm super interested in (any skewed regression distributions would be a huge step), but having taken a shot, the math is over my head for now for now. I'll keep trying to prod @anpatton or @cooberp into it though. :-).

[2020-08-23 19:36] kdlin opened #173 "NGBoost for multi-class classification problems?"
Are there any benefits of using NGBoost for multi-class classification problems? Other algorithms like XGBoost and LightGBM can output probabilities for each class. Is there a reason to use NGBoost? Will it out perform the others?

[2020-08-23 21:39] alejandroschuler commented on #173
There is no practical reason to favor NGBoost over other boosting algorithms for classification (binary or multiclass). Other packages implement a variety of small optimizations for speed and performance which sometimes add up in a particular problem, so I'd expect the performance of NGBoost to be a tiny bit worse than that of another boosting algorithm in head-to-head comparison on classification

[2020-08-23 23:25] #173 closed

[2020-09-01 20:21] fengdai1234 opened #177 "Laplace distribution calculation seems to be off"
Our team is trying to leverage NGboost for our modeling working.
And I was trying to replicate the laplace distribution from the NGboost dev page.

Here is the calculation from WolframAlpha regarding the NLL derivative W.R.T to the location parameter, (scale parameter has been log transformed)

original implementation:
class LaplaceLogScore(LogScore):

    def score(self, Y):
        return -self.

[2020-09-01 21:04] alejandroschuler commented on #177
You're right- those should be:

[code]

(note that `np.sign(self.loc - Y) = (self.loc - Y)/np.abs(self.loc - Y)` and that `np.exp(-self.logscale) = 1/self.scale`)

I'll change the documentation accordingly.

[2020-09-02 07:33] astrogilda commented on #61
Hey! I am having the exact same issue, and I am not sure how to isolate the rows/samples causing this issue. My output label is min-max normalized from 0 to 1 as well, so I am not sure what's happening. Any help?

[2020-09-02 15:38] alejandroschuler commented on #61
Try updating the package to the latest release- we might have fixed this inadvertantly. Otherwise I'm not sure.

[2020-09-02 15:41] astrogilda commented on #61
Using the latest release. Still the same issue.
Are there locations in the code where I can put print statements so I know
exactly what is going on that's resulting in this warning?

On Wed, Sep 2, 2020, 11:38 AM Alejandro Schuler <notifications@github.com>
wrote:

[2020-09-03 06:02] astrogilda commented on #67
I am having the exact same issue! @alejandroschuler any thoughts on this?

[2020-09-03 18:47] astrogilda opened #179 "Extremely high standard deviation values with Normal distribution"
Hello,

While using MLE error function and Normal distribution, with my y/label values in a sensible range from 0-10, for some samples I get extremely high standard deviation values (~1e10). Do you know how I can debug this?

[2020-09-04 14:07] astrogilda commented on #179
This is even more exarcebated when I used sample_weight. Are you sure that it has been correctly implemented?

[2020-09-04 21:20] samshipengs opened #181 "incorrect feature importance shape due to col_sample"
`ngboost-0.3.3`

I'm trying to get feature importance from `ngb`, which was fitted with e.g. `col_sample=0.8`, then when I tried to look at the feature importance I got shape mismatch error (comparing to my input feature length), the returned feature importance length looks like was the length of features after multiplying by `col_sample`, (when i fitted with `col_sample=1`, I get all features in

[2020-09-04 21:48] samshipengs commented on #181
I just started using ngboost and im not familiar with the code base, maybe in the [feature importance calculation](https://github.com/stanfordmlgroup/ngboost/blob/master/ngboost/ngboost.py#L399), when we grab the importance value from each tree, we should map it back to what feature columns were chosen to fit that tree.

[2020-09-08 08:33] jonathanhth opened #182 "pred_dist(X_test).scale"
Might be a silly question but what exactly does scale mean when I call the pred_dist function if I assume a normal distribution for my target variable using NGBRegressor? Is it the standard deviation or variance? Also on a side note I find official documentations for this package very lacking. It would be great if more documentations are published in addition to the user guide. Thank you nonethele

[2020-09-08 15:10] avati commented on #182
Standard deviation. We use the same convention as scipy.stats.distribution for each distribution.

[2020-09-08 15:10] #182 closed

[2020-09-08 23:47] alejandroschuler commented on #181
Interesting... thanks for reporting this, I'll look into it as soon as I can, but unfortunately it's a busy time at work for me. I had a quick look and I think the thing to do is to use [`self.col_idxs`](https://github.com/stanfordmlgroup/ngboost/blob/7382609834512c7135d9655d133c12a8f11d0eb7/ngboost/ngboost.py#L227) (which is the column indices of the features subsampled at each iteration) to calc

[2020-09-08 23:48] alejandroschuler commented on #181
@samshipengs if you are willing to give this a try, test it out, and make a pull request it would be super appreciated by the whole community, I am sure!

[2020-09-09 02:02] #177 closed

[2020-09-09 17:20] samshipengs commented on #181
@alejandroschuler thanks for the suggestion. I will give it a shot and try to make a PR.

[2020-09-10 16:30] samshipengs commented on #181
@alejandroschuler I just created a PR, this is my first time making PR to a public project, so if there is something I'm doing wrong or there is a better practice please let me know.

regarding the fix and code i have a few things want to discuss:
1. Not sure if a inner function is okay here or a class method is preferred.
2.  `You'll just have to set the importance to 0 `, this is what the PR cur

[2020-09-10 17:46] alejandroschuler commented on #181
Awesome! Just had a look, replied to these questions [in the PR](https://github.com/stanfordmlgroup/ngboost/pull/183#pullrequestreview-486160940).

[2020-09-10 20:13] #181 closed

[2020-09-10 20:14] alejandroschuler commented on #181
Thanks again @samshipengs !

[2020-09-10 20:16] samshipengs commented on #181
Thanks for the review!

[2020-09-23 10:57] xianglinZ opened #185 "Do you consider supporting R language and Julia language?"
I hope R language can be supported by this algorithm。

[2020-09-23 16:58] alejandroschuler commented on #185
https://github.com/stanfordmlgroup/ngboost/issues/14

[2020-09-23 16:58] #185 closed

[2020-09-23 16:59] alejandroschuler commented on #185
https://rstudio.github.io/reticulate/

[2020-09-25 08:27] pkdmark opened #186 "SHAP doesn't work if LogNormal"
Hello,

Problem can be reproduced with a slight modification to the notebook below:

https://github.com/stanfordmlgroup/ngboost/blob/master/examples/model_interpretation/SHAP_plots.ipynb

If the distribution is LogNormal (rather than normal) you will find that the Base Value + Shap Values of a single observation do **not** equal the prediction.

[2020-10-09 13:31] davidADSP opened #188 "Monotonic constraints"
An extremely useful features of some gradient boosting libraries is the ability to enforce monotonic constraints - e.g.

https://xgboost.readthedocs.io/en/latest/tutorials/monotonic.html

Are there plans to get this implemented within NGBoost?

Thanks,

David

[2020-10-09 16:18] alejandroschuler commented on #188
This would be very, very difficult to implement with any generality within ngboost because the mean prediction of a value may not map very nicely from a parameter of its distribution. For certain distributions it might be the case (e.g. Normal), but then we'd have to have all sorts of special hacks and whatnot that would work in some cases but not in others.

Furthermore, I'm proceeding under the

[2020-10-13 23:22] angeldroth opened #189 "Robust distributions (Student's t, Cauchy)"
Outlier resistance is a big use case in many fields of study, and over-dispersed normal distributions can help resist against them.

[2020-10-15 14:35] angeldroth opened #191 "Exact Poisson Fisher"
speeds up poisson regression

[2020-10-16 00:00] #191 closed

[2020-10-16 15:57] ryan-wolbeck commented on #171
@alejandroschuler I've been thinking about this some more and have thinking about adding in pre-commit hooks to setup a lot of the formatting related stuff. I'm also a fan of flake8 when used properly, one reason is that pylint will throw a ton of errors on this project because classes have too many inputs and would create some pretty tedious re-writes, without a ton of real value imo.

[2020-10-19 08:10] driesvr opened #193 "Implementing left-censoring?"
Hi all,

Thank you for creating a very nice package. Are there any plans to implement support for left-censoring? This could be very useful for applications in drug discovery, where assays can typically only test up to a certain concentration, resulting in a lot of censored data.

[2020-10-19 15:48] alejandroschuler commented on #193
That's a good idea. Don't have any plans to work on it at the moment but I'll leave the issue open as a reminder.

[2020-10-19 16:06] driesvr commented on #193
What would be required to implement this? If I have some time I might take a look at it.

[2020-10-19 17:29] alejandroschuler commented on #193
Excellent! The first step is in defining how the score (like a loss) will work for censored data. If you work with the log score (maximum likelihood) and consider right-censoring, the natural approach is to use the censored log-likelihood ([eq. 7.7 here](https://data.princeton.edu/wws509/notes/c7.pdf)). I am certain that equivalents exist that are appropriate for left or interval censoring but I d

[2020-10-19 19:11] avati commented on #193
A good starting point might be https://github.com/stanfordmlgroup/ngboost/blob/master/scripts/run_empirical_survival.sh, which currently works for right-censoring.

[2020-10-22 00:27] alejandroschuler opened #194 "Describe reparametrization process for Fisher in user guide"
see: https://en.wikipedia.org/wiki/Fisher_information#Reparametrization

[2020-10-22 09:20] nsankar opened #195 "Probabilistic quantile (P25) forecast - How to ?"
Hi,

From an estimated forecast distribution (using ngboost regression), how can I get only the p25 (25th percentile) forecast? Can you guide with a code snippet and any other considerations to make . Thank you in advance.

[2020-10-22 15:33] avati commented on #195
You could do something like this:

[code]

[2020-10-22 18:06] nsankar commented on #195
thanks @avati

[2020-10-22 18:36] #195 closed

[2020-10-23 22:51] cs2716 commented on #194
I'll pick this up! :)

[2020-10-26 08:59] david-MYS opened #197 "About returning probabilistic predictions for a single test data point?"
Hi,
By reading your official tutorial (https://stanfordmlgroup.github.io/ngboost/1-useage.html), I understand that NGBoost can return the predicted mean and standard deviation **for a single test data point.**

I was reading this post (https://towardsdatascience.com/ngboost-explained-comparison-to-lightgbm-and-xgboost-fda510903e53) and it is said NGBoost **can return probabilistic predictions for

[2020-10-26 16:20] alejandroschuler commented on #197
You certainly can do this for a single test point. I think the error you mention happens because the test values for the features are formatted as a single vector of shape `(n_features,)`. What you need is a 2-dimensional array of shape `(1, n_features)`. So, for instance, let's say you have a whole test set of shape `(n_observations, n_features)` called `X_test` and you'd like the prediction just

[2020-10-26 16:24] #197 closed

[2020-10-26 16:25] #194 closed

[2020-10-28 17:11] alejandroschuler commented on #193
@driesvr thanks for the conversation this morning. To recap (and as a reminder for myself) here's what the plan is going forward:
1. I'll find/derive the correct form of the likelihood for generic censoring structures (i.e. left/right/interval)
2. I'll implement this form for the log score in the normal distribution and make the required API changes
3. You guys will take this and run some evaluati

[2020-10-29 22:18] driesvr commented on #193
Hi Alejandro, that sounds perfect! Looking forward to it :)

[2020-11-03 02:03] azev77 opened #200 "Feature Request: simple time series example"
Hi and thank you for this awesome package!

Would it be possible to provide a simple time-series example?
For example, [a recent paper](https://www.newyorkfed.org/medialibrary/media/research/staff_reports/sr794.pdf?la=en) makes 1 year ahead predictions for the distribution of GDP growth, with [current GDP growth](https://fred.stlouisfed.org/series/A191RL1Q225SBEA) & [NFCI](https://www.chicagofed.o

[2020-11-07 14:46] ryan-wolbeck opened #201 "Add Laplace to tests"
Laplace was added to the repo but I think we should add it as well to tests/test_distns.py

[2020-11-08 19:40] CBach94 commented on #61
I also have a normalized dataset with target values in [0;1] I also get the overflow errors:

I get no errors in my first fit-predict round 0/59.. But so it begins:
`NGBRegressor_deltas_wtrained_scale30468.666666666668_fr012
  0%|          | 0/59 [00:00<?, ?it/s]/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d arra

[2020-11-09 20:07] #189 closed

[2020-11-09 20:17] ryan-wolbeck opened #203 "Build failed after t dists addition"
@mzjp2 @angeldroth

Unfortunately we arrived at another pip lock issue

[code]

Does anyone have any ideas on this fix? I'm not comfortable at all with the curret pipenv implementation (I think we should remove it all together per the suggestion of @ecurtin2

[2020-11-09 20:19] angeldroth commented on #203
Damn thats a massive pain

[2020-11-09 20:21] mzjp2 commented on #203
I’ll have a vetter look in a but, but my general feeling is that getting rid of pipenv is a goos thing, it seems oudated and unmaintained from my experience.

Either poetry, conda or plain venvs is my preference.

[2020-11-09 20:21] angeldroth commented on #203
+1 for poetry or conda

[2020-11-09 20:23] ryan-wolbeck commented on #203
@mzjp2 @angeldroth I'm personally a fan of poetry

[2020-11-09 20:36] alejandroschuler commented on #203
Ouch... err... tbh I do all my development on bare metal like a heathen because I'm dumb and don't understand these things and every python package manager I've ever dipped my toe into has confused me and made me angry. So I'm not at all the best person to handle it. I would be ecstatic to see someone (literally anyone) take charge of this and remake it in their own godly image.

[2020-11-09 22:56] ryan-wolbeck commented on #203
I'm looking at https://dephell.readthedocs.io/config.html (appropriately named) to do this conversion/fix

[2020-11-10 01:18] mzjp2 commented on #203
Whoops, only just seen your comment now @ryan-wolbeck, but for what it's worth, I've made significant progress in #204 after about 3 hours of heads down work :)

[2020-11-10 15:18] #203 closed

[2020-11-10 16:11] albertotonon opened #205 "Very wide prediction intervals with exponential distribution"
Thanks a lot to all devs for making this very useful library available to everyone.

I'm considering using this lib in my job to predict the car market values to be able to provide users with a range instead of a point estimation of the value of their car.

By cross-validating I found that using the exponential distribution gives best results (with a large margin), also, using the normal distribut

[2020-11-10 16:12] albertotonon opened #206 "Very large prediction intervals for Exponential distribution"
Thanks a lot to all devs for making this very useful library available to everyone.

I'm considering using this lib in my job to predict the car market values to be able to provide users with a range instead of a point estimation of the value of their car.

By cross-validating I found that using the exponential distribution gives best results (with a large margin), also, using the normal distribut

[2020-11-10 17:57] alejandroschuler commented on #206
Hmm, I don't think there's a way around this. As your example demonstrates, the exponential distribution only has one parameter. So if you want to predict a mean of 1/x, the variance will necessarily be 1/x^2.

The answer is to use a distribution with parameters such that the mean and variance can vary independently (like the normal). I'm not sure what has caused your convergence issues, but have

[2020-11-10 17:58] alejandroschuler commented on #205
(duplicate of  #206)

[2020-11-10 17:58] #205 closed

[2020-11-10 21:43] alejandroschuler commented on #193
Hey @driesvr, just wanted to give you a quick update. I've derived the form of the likelihood for interval data (left and right censoring being interval censoring with interval of the form (-inf, C] and [C, inf), respectively). Presuming conditional independence between the censoring and survival distributions, we have that the likelihood is

![image](https://user-images.githubusercontent.com/7213

[2020-11-10 23:25] astrogilda commented on #189
out of curiousity, could you give examples of applications where one might prefer student's t or cauchy over normal?

[2020-11-11 00:21] angeldroth commented on #189
Any time you need robust regression (i.e. the conditional distribution has fat tails).
The application I am most familiar with is financial data.

[2020-11-11 07:31] albertotonon commented on #205
Sorry for duplicating: i think i had an issue with the browser when I created the issue and I didn't notice the issue was actually created.

[2020-11-11 07:34] albertotonon commented on #206
Thanks, @alejandroschuler , I'll give it a shot.

[2020-11-11 13:23] synapticarbors opened #208 "Possibly mistaken version of tqdm in requirements"
I was fixing up the conda-forge recipe for `ngboost` and noticed that during the switch to `poetry`, the minimum version of `tqdm` was changed from `>=4.36.1` to `>=4.3`. The latter version of `tqdm` has no official release, but 4.4 was released in April of 2016. I'm wondering if the intended change was just to `>=4.36`?

[2020-11-11 16:07] alejandroschuler commented on #208
@ryan-wolbeck @mzjp2

[2020-11-11 20:51] ryan-wolbeck commented on #208
tqdm just creates a progress bar so I don't think we are tied to the functionality of 4.36 so I'm thinking we should just change it it to >= 4.4 since the current version is 4.51

[2020-11-11 20:58] synapticarbors commented on #208
That's fine. I just wanted to make sure that there weren't any compatibility issues dropping to the much older version.

https://tqdm.github.io/releases/

If there aren't any important api changes between 4.4 and 4.36, then I that's fine.

[2020-11-12 13:13] driesvr commented on #193
Hi Alejandro, That looks excellent! Looking forward to taking it for a spin
once it becomes available.

On Tue, 10 Nov 2020 at 22:43, Alejandro Schuler <notifications@github.com>
wrote:

[2020-11-12 15:05] #208 closed

[2020-12-07 00:46] alejandroschuler commented on #179
Sorry I didn't see this a few months ago! I'd 1) make sure you have the most recent version of the code and 2) try shrinking the learning rate down

[2020-12-08 17:35] ryan-wolbeck opened #211 "add github discussions"
I'm not sure who has permissions to allow GitHub discussions but I think it would be a nice tool for us to chat (outside of slack)

Example : https://github.com/vercel/vercel/discussions/3874

[2020-12-08 17:50] ryan-wolbeck commented on #211
https://docs.github.com/en/free-pro-team@latest/discussions/quickstart

[2020-12-08 17:53] #206 closed

[2020-12-08 19:11] alejandroschuler commented on #211
👍

[2020-12-08 19:11] #211 closed

[2020-12-08 19:12] ryan-wolbeck commented on #211
Awesome, thanks @alejandroschuler

[2020-12-22 11:25] karta282950 opened #213 "Custom metric object function"
Hi and thanks this awesome  boosting.
I want to ask how to custom metric object function in ngboost, like xgboost?
(Ref. https://xgboost.readthedocs.io/en/latest/tutorials/custom_metric_obj.html)

[2020-12-22 19:12] alejandroschuler commented on #213
Thanks @karta282950!

Using a custom metric (either for training or validation) is pretty easy but you need to know a little bit about the internals of ngboost to make it work how you want it to. The metric is controlled by an argument to the `fit()` method called `train_loss_monitor` or `val_loss_monitor`. The value of that argument needs to be a callable that itself accepts two arguments: a pred

[2020-12-22 19:12] #213 closed

[2020-12-24 03:25] karta282950 commented on #213
Thank you for your help. @alejandroschuler

[2020-12-30 15:50] Sinansi opened #214 "Conda Installation"
You forgot to mention on your library home page that this library can be installed using conda forge channel.

conda install -c conda-forge ngboost

[2020-12-30 23:30] #214 closed

[2021-01-04 21:18] vdrao opened #218 "Potential bug in score method for sklearn API"
Hello,

Thank you for NGBoost! I think there may be a bug in the sklearn score API in the [main NGBoost class](https://github.com/stanfordmlgroup/ngboost/blob/master/ngboost/ngboost.py) (lines 317-318):

[code]

Sklearn hyperparameter tuning functions like `RandomizedSearchCV` expect that better models are assigned higher (more positive) scores. However, as far as I can see, the `total_score` meth

[2021-01-05 03:21] alejandroschuler commented on #218
Hi @vdrao, the method you mention actually calculates the _negative_ log likelihood (when using the `LogScore` scoring rule). The correct sign is enforced in the definition of the score method for each distribution, [e.g. for the normal](https://github.com/stanfordmlgroup/ngboost/blob/4c2b11d37ae89d74a5bc5d6119ffec598f318470/ngboost/distns/normal.py#L12).

[2021-01-05 03:21] #218 closed

[2021-01-05 04:22] alejandroschuler commented on #193
@driesvr I think I've got a working implementation for the normal. You can use it by pulling [this branch](https://github.com/stanfordmlgroup/ngboost/tree/jax-censored). Example code:

[code]

Please play around with this and let me know where the edges are. Obviously this is experimental and built on top of the [new jax implementation of ngboost](https://github.com/stanfordmlgroup/ngboost/discuss

[2021-01-05 12:40] driesvr commented on #193
Thank you for looking into this! We'll take it for a spin in the next few days and we'll let you know how it works, and if we would encounter any issues.

[2021-01-21 09:48] rotcx opened #220 "class CRPScore not defined?"
`python
class CRPScore(Score):
    """
    Generic class for the continuous ranked probability scoring rule.
    """

CRPS = CRPScore
`

[2021-01-21 10:07] rotcx commented on #220
/usr/local/bin/python3.7 ng/ngboost/examples/simulations/regression_sim.py
Traceback (most recent call last):
  File "ng/ngboost/ngboost/distns/distn.py", line 45, in implementation
    return {S.__bases__[-1]: S for S in scores}[Score]
KeyError: <ngboost.scores.CRPScore object at 0x11dbc26d0>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):

[2021-01-21 15:47] ggrrll commented on #168
I also think that there is right now some confusion ... in particular,  to clarifiy maybe what is was said by @maximilianpfau

`.params['scale']`!= `.scale` ,

which is indeed a bit annoying  (one has to figure that out by printing them )

Other than that, I also tested that  `.dist.median` (`exp(.loc)` ) and `.dist.mean`  ( `exp( .loc + .params['s'] **2 / 2 ` ) are indeed correct

[2021-01-25 14:55] mburaksayici opened #221 "Difference between num_estimator in base learner and NGBRegressor"
Hi,
I'm probably clarified myself on difference between BaseLearner estimator and NGBRegressor, but it's unclear on the documentation.
We can use base learners from SKLearn/Lightgbm as it's also applied there https://github.com/ryan-wolbeck/ngboost-tuner/blob/master/ngboost_tuner/tune.py , but I first thought that number of estimators in base learner is equal to NBRegressor's num_estimator. Then I

[2021-01-25 17:25] alejandroschuler commented on #221
As an example, let's say you decide to use a 100-tree random forest as the base estimator and you set `num_estimator` to 500 in ngboost. Then you are boosting a series of 500 100-tree random forests, i.e. you will fit 500 random forest models, or 50000 total trees! (actually 50000 times the number of parameters in your chosen distribution)

The whole idea of boosting is that you turn a **weak** le

[2021-01-25 17:25] #221 closed

[2021-01-25 18:10] mburaksayici commented on #221
That's what I expected, but thanks for the advice for sticking  on  the regression trees, But I think it should be specified in somewhere, I mistakenly use that, then I found its worth to ask. Thanks!

[2021-01-26 23:26] ryan-wolbeck commented on #220
@rotcx can you share your code?

[2021-01-29 12:32] JorisTavernier commented on #193
Thank you for making this extension available.

@alejandroschuler, could it be that in your example, you still have to set the values of the non-censored input to nan in the _censored_ attribute of the _CensoredOutcome_ object inside the _censor_admin_ functionality?

Currently, the non-censored inputs are evaluated twice (one time as observed and one time as censored) in, for example, the __score

[2021-01-29 19:36] alejandroschuler commented on #193
Yes, that's right- sorry, I copied that example from an older version!

[2021-02-04 12:27] imitusov opened #225 "Base learner for NGBClassifier"
Am I right there is no option of a Base learner for NGBClassifier?

As soon as I pass a classifier Base learner i got the following error. At the same time if i pass `learner = RandomForestRegressor(n_estimators=500, max_depth=7, min_samples_leaf=50, n_jobs=-1, max_features="sqrt", max_samples=.66, random_state=42)` as a learner everything works just fine
The example was taken [from](https://stanf

[2021-02-04 16:06] JoGall commented on #122
Hi has there been any movement on this issue? I'm able to easily wrap the model in MultiOutputRegressor (i.e. `MultiOutputRegressor(NGBRegressor()).fit(X, y)` but the `pred_dist()` method unfortunately does not work with this.

RandomForestRegressor is able to train based on correlation between multiple targets but of course lacks probabilistic predictions :(

[2021-02-04 17:13] alejandroschuler commented on #225
I think your issue is that you're trying to use a _classifier_ as the _base learner_. Even though the NGBoost model as a whole is doing (probabilistic) classification, the _base learner_ must always be a _regression_ model. That's because the job of the base learners is to help estimate a _continuous_ value, in this case the logit of the class probability. This is also the case in other boosting i

[2021-02-04 17:13] #225 closed

[2021-02-04 18:08] alejandroschuler commented on #122
Right- so there are actually a few different questions floating about in this issue...

1. can you use ngboost to predict multiple targets?

2. can you use `MultiOutputRegressor` from sklearn to automate that?

3. can you use ngboost to predict multiple targets in a way that might be able to exploit the relationship between those targets? i.e. can ngboost exploit some kind of transfer learning to

[2021-02-05 11:02] MikeOMa commented on #122
*I have been working on 3.*
I have been trying to use NGboost to predict 2d velocity data.

I have been implementing the multivariate normal distribution as in https://ieeexplore.ieee.org/document/6797083 which models
\Sigma^{-1} = LL^{T},
where L is a lower triangular matrix and setting the diagonal as:
L_{ii} = \exp(a_ii)
To make sure the resulting covariance matrix is positive semi-definite. Al

[2021-02-05 17:33] alejandroschuler commented on #122
@MikeOMa very exciting! What you're doing is exactly the same- the marginal variances are just the diagonal elements of your covariance matrix and the covariance is the off-diagonal element.

Let me know if you want some feedback or collaboration. This has been on the "future work" slide of every ngboost talk I've given in the past year so I'd be very happy to work on a conference paper or somethi

[2021-02-08 19:27] merl-dev opened #226 "scikit-learn < 0.24"
Any particular reason for this?

[2021-02-08 19:52] ryan-wolbeck commented on #226
I don't believe so other than locking the version based on when this logic was created. Do you have a follow up suggestion or request?

[2021-02-08 22:32] merl-dev commented on #226
I was about to make the changes and submit a pull-request, but decided to run the tests on v0.3.7 first, to be sure, and found 2 fails
[code]
Not sure if you're aware of these.  In any case, made the changes to `pyproject.toml` and making pull request since same errors showed up.

[2021-02-09 01:02] m23shen opened #228 "can't pickle NGBSurvival"
I'm having issue saving my NGBSurvival model. Error below: PicklingError: Can't pickle <class 'ngboost.api.NGBSurvival.__init__.<locals>.SurvivalDistn'>: it's not found as ngboost.api.NGBSurvival.__init__.<locals>.SurvivalDistn

Seems that this issue is only for survival model, I tried to train a NGBRegressor and had no problem saving.

I'm using the most updated package with !pip install --upgrad

[2021-02-12 16:26] ryan-wolbeck opened #233 "add codeowners to repo"
Hey everyone,
I think we should add codeowers to the repo. This would help auto-assign reviewers to PRs as they come in. I'm planning to make this PR myself. Just adding here for tracking purposes.

[2021-02-16 09:23] MikeOMa opened #235 "Multivariate Normal Implementation"
Currently working on adding a multivariate normal distribution with LogScore. Doing it according to this parametrization https://ieeexplore.ieee.org/document/6797083 where the lower triangular of the inverse covariance matrix is predicted. This way the only constraint is positive diagonals.

I think the only changes I will need to make is to the internals of ngboost.py is to add a multi_output arg

[2021-02-16 16:57] alejandroschuler commented on #235
Feel free to override the current class, I'm not aware of anyone that doing any experimental work with it but we can always retrieve it from the commit history if we need to.

[2021-02-19 04:39] athammad commented on #61
I think this problem still persists even in the current release.
[code]

[2021-02-19 04:57] alejandroschuler commented on #61
@tonyduan do you think this might be due to a combination of the log(scale) parametrization and the scale-up part of the line search? Maybe we could try implementing a different line search algorithm?

[2021-02-19 10:24] guyko81 opened #236 "Adding normalizing flows"
It might be a stupid idea, didn't think it through from code perspective, but couldn't Ngboost predict the Normalizing Flows' parameters as well, so the final outcome distribution could be transformed into any arbitrary distribution? It would give very high flexibility to the package.

[2021-02-19 16:47] MikeOMa commented on #228
On a similar note for a different piece of code:

`AttributeError: Can't pickle local object 'k_categorical.<locals>.Categorical'`

stops you from pickling a classifier I think

[code]

Maybe they are related?

[2021-02-19 17:38] MikeOMa commented on #235
https://github.com/stanfordmlgroup/ngboost/issues/228#issuecomment-782196338

Suffering from the same issue I commented about above^ If I make a "class factory" like the `k_categorical` function nothing pickles.

Multivariate normal works for k>2 but it means the resulting model fit can no longer be pickled.

For the moment I am just going to fix k=2 and not use a class factory as in reality using

[2021-02-19 18:25] alejandroschuler commented on #228
These issues should be relatively easy to fix- the problem is that some of these distributions and other classes are generated on-the-fly so they can't be pickled. The solution is to write a custom pickling method so that instead of trying to save the distribution or whatever object it saves the inputs to the factory function, and then upon unpickling it rebuilds the object. See `__setstate__` and

[2021-02-19 18:43] alejandroschuler commented on #236
@guyko81 this is a **very good idea**. I've been kicking around variations of this concept for about a year. And, in fact [Jerome Friedman](https://www.google.com/search?q=jerome+friedman&oq=jerome+frie&aqs=chrome.1.69i57j0j46j0l2j46i175i199j46j0j46i10j0.2289j0j7&sourceid=chrome&ie=UTF-8) himself emailed me a few months ago with some suggestions along these lines, as well as some related things he

[2021-02-19 18:54] MikeOMa commented on #228
I can have a go at it.

I did find the k_categorical not pickling in the `pip install ngboost` version originally so the change you mentioned might've already fixed it if that is not in the 0.37 release.

[2021-02-19 19:58] guyko81 commented on #236
@alejandroschuler I would love to work on it. I'm going to read the papers and spend all the time needed to make it work!

[2021-02-20 18:26] MikeOMa opened #238 "Adding pickle to test?"
is it worth adding:

[code]
To `test_distns.py` for most of the tests? I know I use pickle all the time when I'm using ngboost/sklearn so ensuring that everything can pickle seems sensible to me.

Happy to do this if nobody else was already planning to and you think it is a good idea.

[2021-02-20 22:20] guyko81 commented on #236
@alejandroschuler I was thinking about focusing only on univariate distributions in regression for now. I'm not quite sure yet, but my idea is to implement a transformation function that is common for all observations (as we already assume that all observations follow the same distribution, just with different parameters - so this step is not a restriction compared to the current solution), and fi

[2021-02-21 22:44] tonyduan commented on #61
@alejandroschuler it's possible, though without having a closer look at the dataset and debugging it's hard to say for sure.

@athammad can you try normalizing your outputs to zero mean and unit variance? And if possible, it'd be very helpful if you could attach matrices (X, y) into this issue so that we can reproduce.

[2021-02-22 17:25] ryan-wolbeck commented on #238
@MikeOMa I started going down this  road a while ago here https://github.com/stanfordmlgroup/ngboost/compare/test-pickle but didn't get finished with it. If you have time your welcome to pick up where I left off. Generally think this is something that needs to get done

[2021-02-22 18:00] alejandroschuler commented on #236
Your proposal makes sense to me- the only technical challenge is to include the current transformation in the calculation of the gradients for the distributional parameters, but I think it should still allow for modularity of transforms/distributions because of the chain rule.

What kind of transforms are you thinking of trying? What method do you propose to use the transform parameters in step 2?

[2021-02-22 18:00] alejandroschuler commented on #236
(@soumyasahu may have thoughts to add here as well)

[2021-02-22 18:05] MikeOMa commented on #238
I did see this branch after starting the issue, I was going to try to fix the Survival Pickling when I have a chance so I can add it in with that pull request. Probably won't be for a week or two though.

[2021-02-23 02:28] #233 closed

[2021-02-23 22:10] guyko81 commented on #236
@alejandroschuler I might be still misunderstanding the paper, but from section 3 I still read that the transformation happens globally in the omnireg paper. In my understanding the algorithm operates with a non-parametric transformation of the target variable so it satisfies the original assumption.

"One way to mitigate this problem is by transforming the outcome variable y using a monotonic fun

[2021-02-24 00:06] alejandroschuler commented on #236
@guyko81 right, the transformation in the omnireg paper is indeed global, but my point isn't that it's not global, it's that it can't be written down in a closed parametric form and is in that sense much more flexible in the kinds of relationships it can accommodate. As I argued, the global parametric transformation approach that you argue for (with a given distribution `Y|X ~ D(θ(X))` and a trans

[2021-02-24 12:08] guyko81 commented on #236
@alejandroschuler I think the summary is accurate. This is my understanding of the process, with the reason why it should work.
[NGBoost with normalizing flows.pptx](https://github.com/stanfordmlgroup/ngboost/files/6035743/NGBoost.with.normalizing.flows.pptx)

And you asked earlier what transformation would I choose. I was wrong actually, my proposed method would be monotonic as well, but with no

[2021-02-24 16:10] guyko81 commented on #236
Thanks, I'll get started then.

[2021-02-25 11:09] athammad commented on #61
Dear @tonyduan,

Here are my dataset and the code that I have been using.
As you will notice, I am using Bayesian optimization trough `scikit-optimize`.
Please note the following points:
1)I encountered the same error even with the Boston dataset, but I cannot reproduce it.
2) I have encountered another error
`ValueError: Input contains NaN, infinity or a value too large for dtype('float64').`
3)E

[2021-02-25 17:00] alejandroschuler commented on #61
@tonyduan maybe we should auto-scale user data as an internal preprocessing step

[2021-02-26 08:52] #235 closed

[2021-03-04 21:31] soumyasahu commented on #236
Sorry, @alejandroschuler, I was very busy with my research and studies, so, I had to catch up late. I really enjoyed the above discussion. @guyko81, it is indeed a nice idea to use coupling transformation with monotonic rational splines (I have learned it the first time here), and also it is non-parametric in the sense that the number of parameters increases with the number of data points. From th

[2021-03-06 00:23] alejandroschuler commented on #235
@tonyduan @avati hey, any chance either of you knows of a closed-form CRPS for the multivariate normal?

[2021-03-06 01:45] avati commented on #235
I'm not aware of a closed form CRPS expression for multivariate gaussian. AFAIK the common approach in meteorology is to start with the "energy score" representation of CRPS (see eqn 22 of https://viterbi-web.usc.edu/~shaddin/cs699fa17/docs/GR07.pdf with Beta=1). This form generalizes to multi dimensions because of the Expectation, which is approximated by samples or MC, bypassing hairy double/tri

[2021-03-08 11:56] AlejandroBaron opened #242 "Bug while fitting NGBClassifier + GridSearchCV"
Hello! I'm trying to fit a NGBClassifier through hyperparameter tuning and I'm facing the following issue

[code]

The following error is thrown:

`ValueError: Unknown label type: 'continuous'`

It happens with other datasets as well, I used this one so you can have a reproducible example. When using either NGBClassifier or DecisionTreeClassifier on their own, it works like a charm (so it doesn't

[2021-03-08 17:10] alejandroschuler commented on #242
interesting... I'm not sure if it's an issue with ngboost but maybe try setting `y` to be an integer array explicitly? Or maybe GridSearchCV doesn't work the same way with multi-category (>2) classifiers?

[2021-03-09 07:58] AlejandroBaron commented on #242
Tried both things and still doesn't work. It's an NGBoost interaction problem. If I use just a Decission tree classifier for instance, it works like a charm

[code]

So I'd say NGBoost transforms the answer in the process, I don't know how or why though

[2021-03-09 11:32] MikeOMa commented on #242
https://github.com/stanfordmlgroup/ngboost/issues/225

I think it might be the same problem as here.

You need to use a base learner which produces predictions on the real line (`b1=DecisionTreeRegressor`).

[2021-03-09 15:46] alejandroschuler commented on #242
Good eye @MikeOMa, i didn't notice that had been changed from the example! @AlejandroBaron that is definitely the problem. I'll close the issue now but lmk if anything else comes up.

[2021-03-09 15:46] #242 closed

[2021-03-11 22:27] z-feldman opened #244 "Is it possible to have features only for certain parameters?"
I've really enjoyed being able to look at feature importance and shap values for different parameters, it can be really insightful. To take it a step further, I've been wondering if it's possible to have certain features be specific to some parameters but not used in the estimation of other parameters.

I was using an automated feature selection - subbed in catboost as it doesn't support ngboost -